<div id="display-bio" class="display-content">
  <h3 id="display-title" class="active">Pilot Bio</h3>
  <div class="bio-content screen-content">
    <!-- 
    Top section: basic info + image
    Bottom section: lanaguages + links + skills

  Top section:
  - Desktop: grid, basic info 2fr, image 1fr
  - Mobile: reverse order grid row auto

  Bottom section: 
  - Desktop: row 1 languages 2fr, links 1fr
  row 2: skills
  - Mobile: row 1 languages, row 2 skills, row 3 links
  - For bottom section just duplicate links + display: none + block 
  
  -->
    <div class="top-section">
      <div class="body-section">
        <div class="body-scan-overlay">
          <img
            class="full-body-image"
            alt="full-body-scan-image"
            src="/src/assets/images/full-body-scan.webp" />
        </div>
      </div>
      <div class="basic-info">
        <div class="space-between-grid-row">
          <p>Species:</p>
          <p>Human</p>
        </div>
        <div class="space-between-grid-row">
          <p>Gender:</p>
          <p>Male</p>
        </div>
        <div class="space-between-grid-row">
          <p>Name:</p>
          <p>Kevin McCarthy</p>
        </div>
        <div class="space-between-grid-row">
          <p>Last known location:</p>
          <p>Ireland, Earth</p>
        </div>

        <div class="space-between-grid-row">
          <p>Occupations:</p>
          <ul>
            <li>Full Stack Developer</li>
            <li>Educator</li>
            <li>Economist</li>
            <li>Space Pirate</li>
            <li>Entrepreneur</li>
            <li>Ferengi Dentist</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="bottom-section">
      <div class="languages-links">
        <div class="space-between-grid-row">
          <p>Languages:</p>
          <div>
            <img
              class="flag-icon"
              alt="British Flag"
              src="/src/assets/icons/GB.svg" />
            <img
              class="flag-icon"
              alt="French Flag"
              src="/src/assets/icons/FR.svg" />
            <img
              class="flag-icon"
              alt="Chinese Flag"
              src="/src/assets/icons/CN.svg" />
            <img
              class="flag-icon"
              alt="Spanish Flag"
              src="/src/assets/icons/SP.svg" />
          </div>
        </div>
        <div class="bio-links">
          <a href="https://github.com/Saganaut" target="_blank">
            <img
              class=""
              alt="github icon"
              src="/src/assets/icons/github-icon.svg"
          /></a>
          <a
            href="https://www.linkedin.com/in/kevin-ed-mccarthy/"
            target="_blank">
            <img
              class=""
              alt="linkedin icon icon"
              src="/src/assets/icons/linkedin-icon.svg"
          /></a>

          <a
            href="https://www.linkedin.com/in/kevin-ed-mccarthy/"
            target="_blank">
            <img class="" alt="CV icon" src="/src/assets/icons/cv-icon.svg"
          /></a>
        </div>
      </div>
      <p>
        Contact:<a
          class="slide-underline"
          href="mailto:zen.white3980@eagereverest.com"
          target="_blank"
          onclick="event.stopPropagation()">
          zen.white3980@eagereverest.com</a
        >
      </p>
      <h4 class="skills-title">Skills</h4>
      <div class="skills-container">
        <div class="skill-group">
          <strong>Core:</strong>
          <span class="pill">Full Stack Development</span>
          <span class="pill">System Architecture</span>
          <span class="pill">UI/UX Design</span>
          <span class="pill">Cloud Infrastructure</span>
        </div>

        <div class="skill-group">
          <strong>Tech:</strong>
          <span class="pill">Python</span>
          <span class="pill">TypeScript</span>
          <span class="pill">React</span>
          <span class="pill">SQL</span>
          <span class="pill">PHP</span>
        </div>

        <div class="skill-group">
          <strong>Tools:</strong>
          <span class="pill">Docker</span>
          <span class="pill">Nginx</span>
          <span class="pill">CI/CD</span>
          <span class="pill">Git</span>
          <span class="pill">Figma</span>
        </div>

        <div class="skill-group">
          <strong>Communication:</strong>
          <span class="pill">Technical Documentation</span>
          <span class="pill">Complex Simplification</span>
          <span class="pill">Knowledge Sharing</span>
          <span class="pill">Collaborative Problem Solving</span>
        </div>
      </div>
      <div class="bio-last-row">
        <a href="https://github.com/Saganaut" target="_blank">
          <img
            class=""
            alt="github icon"
            src="/src/assets/icons/github-icon.svg"
        /></a>
        <a
          href="https://www.linkedin.com/in/kevin-ed-mccarthy/"
          target="_blank">
          <img
            class=""
            alt="linkedin icon icon"
            src="/src/assets/icons/linkedin-icon.svg"
        /></a>

        <a
          href="https://www.linkedin.com/in/kevin-ed-mccarthy/"
          target="_blank">
          <img class="" alt="CV icon" src="/src/assets/icons/cv-icon.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
