<div id="design" class="display-content">
  <h1 id="display-title" class="active">this.designAssets</h1>
  <div class="screen-content">
    <section>
      <h3>Color Palette</h3>
      <p class="description">
        I've been making heavy use of color functions here and for the first
        time am using exclusively OKLCH. The functions aren't workking
        perfectly, as we can see a "vibrant" grey for exmaple makes little
        sense.
      </p>
    </section>
    <section>
      <div id="color-palette-container" class="color-palette">
        <!-- RED -->
        <div class="red single-color color-palette">
          <h4>Red</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!-- Green -->
        <div class="green single-color color-palette">
          <h4>Green</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!-- GREEN_YELLOW -->
        <div class="green-yellow single-color color-palette">
          <h4>Green-Yellow</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!-- PINK YELLOW -->
        <div class="pink single-color color-palette">
          <h4>Pink</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>

          <!-- <div class="hover">Hover</div> -->
        </div>
        <!--- BLUE -->
        <div class="blue single-color color-palette">
          <h4>Blue</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!--- YELLOW -->
        <div class="yellow single-color color-palette">
          <h4>Yellow</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!--- CYAN -->
        <div class="cyan single-color color-palette">
          <h4>Cyan</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!--- GREY -->
        <div class="grey single-color color-palette">
          <h4>Grey</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
        <!-- PURPLE -->
        <div class="purple single-color color-palette">
          <h4>Purple</h4>
          <div>
            <label>Normal</label>
            <div class="normal"></div>
          </div>
          <div>
            <label>Muted</label>
            <div class="muted"></div>
          </div>
          <div>
            <label>Vibrant</label>
            <div class="vibrant"></div>
          </div>
          <div>
            <label>Light</label>
            <div class="light"></div>
          </div>
          <div>
            <label>Dark</label>
            <div class="dark"></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3>Icons</h3>
      <p class="description">
        As much as possible I've been creating my own icons, with the goal of
        eventually having a coherent icon set. Feel free to use with
        attribution.
      </p>
      <div id="icons-container">
        <img src="/src/assets/icons/list-icon-pos-1.svg" />
        <img src="/src/assets/icons/list-icon-pos-2.svg" />
        <img src="/src/assets/icons/list-icon-pos-3.svg" />
        <img src="/src/assets/icons/close-icon-orbit.svg" />
        <img src="/src/assets/icons/close-icon.svg" />

        <img src="/src/assets/icons/back-arrow.svg" />
        <img src="/src/assets/icons/back-double-chevron.svg" />
        <img src="/src/assets/icons/Hexagon.svg" />
      </div>
    </section>
    <section>
      <h3>Visual assets</h3>
      <p class="description">
        Almost all of these are based on an image generated with Gemini, which I
        then edited to suit my needs.
      </p>
      <div class="visual-assets-containers"></div>
    </section>
    <section>
      <h3>Videos</h3>
      <p class="description">
        These were also generated using Gemini. I thought the results were quite
        good, the biggest limitation being that they are short and that when
        looping back from the end to the start its not a smooth transition.
      </p>
    </section>
  </div>
</div>
