<div id="display-log" class="display-content">
  <!-- <h3>Captain's log</h3> -->
  <div id="display-log-header">
    <div>
      <h3 id="log-entry-title"></h3>
      <p id="stardate"></p>
    </div>
    <div id="log-control">
      <nav id="log-navigation">
        <button
          id="log-prev"
          data-action="LOG_VIEW"
          data-id="log-prev"
          class="btn-normal">
          Prev
        </button>
        <button
          id="log-next"
          data-action="LOG_VIEW"
          data-id="log-next"
          class="active btn-normal">
          Next
        </button>
      </nav>
      <a id="log-link" class="slide-underline" href="#" target="_blank"
        >View source</a
      >
    </div>
  </div>
  <div id="log-content-wrapper">
    <div id="log-content" class="log-content"></div>
  </div>
</div>
