.bio-content.screen-content {
  display: flex;
  height: auto;
  flex-direction: column;
}
.bio-right-section > div > p {
  margin-top: 6px;
  margin-bottom: 6px;
}
.bio-portrait-section,
.bio-right-section {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.bio-right-section {
  align-items: start;
}
.full-body-image {
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.body-scan-overlay {
  border-radius: 20px;
  overflow: hidden;
  /* border: 2px solid rgb(0, 31, 0); */
  aspect-ratio: 3 / 4.5;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow:
    inset 0 0 4px 0px var(--green-200),
    0 0 4px var(--green-200);
}
.flag-icon {
  filter: opacity(0.5);
}
.flag-icon:hover {
  filter: opacity(1);
}
.space-between-row {
  display: flex;
  justify-content: space-between;
}
#display-bio > h3 {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .body-scan-overlay {
    border-radius: 20px;
  }
  .bio-content.screen-content {
    padding: 6px;
  }
}
@media (max-width: 800px) {
  .body-scan-overlay {
    border-radius: 15px;
  }
  .bio-content.screen-content {
    padding: 2px;
  }
}
.bio-last-row {
  display: none;
}
.top-section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px 0px;
  .body-section {
    display: flex;
    justify-content: center;
    order: 2;
  }
  .basic-info {
    order: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
}
.bottom-section {
  padding-bottom: 20px;
  .languages-links {
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    .bio-links {
      display: flex;
      width: 100%;
      gap: 10px;
      justify-content: center;
      margin: auto;
    }
    > div {
      display: flex;
      align-items: center;
    }
  }
}

body[data-orientation="portrait"] {
  .bio-content.screen-content {
    color: var(--green-200);
    font-size: 1.2rem;
    flex-direction: column;
    padding-bottom: 20px;

    @media (max-height: 600px) {
      font-size: 1.2rem;
      line-height: 1.2rem;
    }
  }
  .top-section {
    padding-bottom: 5px;
  }
  .bottom-section {
    .languages-links {
      padding-bottom: 5px;
      grid-template-columns: auto;
      .bio-links {
        display: none;
      }
    }
  }
  .body-scan-overlay {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-scan-overlay {
    max-height: 20dvh;
  }
  .body-section {
    padding-bottom: 10px;
  }
  .full-body-image {
    height: 22dvh;
    transform: translate(0, -10%);
  }
  .bio-content .top-section {
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
  .bio-content .bottom-section {
    padding-top: 4px;
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
  .bio-last-row {
    padding-top: 8px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
  }
  .top-section {
    display: flex;
    .body-section {
      order: 1;
    }
    .basic-info {
      order: 2;
    }
  }
}
.space-between-grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.space-between-grid-row > ul {
  padding-left: 0px;
}
