/** Control Panel Hover Effects **/
.svg-control-tooltips {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  height: 300%;
}
.svg-control-text {
  fill: var(--green-100);
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--transition-duration) 0.3s;
  font-size: 8px;
  text-decoration: underline;
  text-underline-offset: 2px;
  shape-rendering: crispEdges;
  text-rendering: geometricPrecision;
}
.svg-control-tooltips > polyline {
  stroke: var(--green-100);
  stroke-width: 1;
  fill: none;
  transition: stroke-dashoffset 0.6s ease-in-out;
  filter: drop-shadow(0 0 2px var(--green-100))
    drop-shadow(0 0 4px var(--green-100));
}

/**Log Button Hover **/
#control-log {
  anchor-name: --log-button;
}
#log-btn-svg {
  position-anchor: --log-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(37%, -1%);
}
#log-btn-svg > polyline {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
/* Changing visisbility on hover*/
#control-log:hover + #log-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-log:hover + #log-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-log + #log-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-log + #log-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/* Bio */
#control-bio {
  anchor-name: --profile-button;
}
#bio-btn-svg {
  position-anchor: --profile-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(-3%, 0%);
}

#bio-btn-svg > polyline {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
}

/* Changing visisbility on hover*/
#control-bio:hover + #bio-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-bio:hover + #bio-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-bio + #bio-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-bio + #bio-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/** Lightspeed btn-normal Hover **/
#lightspeed-btn {
  anchor-name: --profile-button;
}
#lightspeed-btn-svg {
  position-anchor: --profile-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(-3%, 0%);
}

#lightspeed-btn-svg > polyline {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
}

/* Changing visisbility on hover*/
#lightspeed-btn:hover + #lightspeed-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#lightspeed-btn:hover + #lightspeed-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#lightspeed-btn + #lightspeed-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#lightspeed-btn + #lightspeed-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/** Projects Button Hover **/
#control-projects {
  anchor-name: --profile-button;
}

#projects-btn-svg {
  position-anchor: --profile-button;
  bottom: anchor(top);
  left: anchor(right);
  transform: translate(-23%, -1%);
}
#projects-btn-svg > polyline {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
}
/* Changing visisbility on hover*/
#control-projects:hover + #projects-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-projects:hover + #projects-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-projects + #projects-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-projects + #projects-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/** One Button Hover **/
#control-design {
  anchor-name: --one-button;
}
#one-btn-svg {
  position-anchor: --one-button;
  bottom: anchor(top);
  left: anchor(right);
  transform: translate(-23%, 0%);
}
#one-btn-svg > polyline {
  stroke-dasharray: 102;
  stroke-dashoffset: 102;
}
/* Changing visisbility on hover*/
#control-design:hover + #one-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-design:hover + #one-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-design + #one-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-design + #one-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/**Acorn Button Hover **/

#control-acorn {
  anchor-name: --acorn-button;
}
#acorn-btn-svg {
  position-anchor: --acorn-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(37%, -2%);
}
#acorn-btn-svg > polyline {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
/* Changing visisbility on hover*/
#control-acorn:hover + #acorn-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-acorn:hover + #acorn-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-acorn + #acorn-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-acorn + #acorn-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/* .control-btn > svg {
  display: none;
} */
#mobile-control-pannel {
  #control-btn-pannel {
    position: relative;
    margin: auto;
    width: 150px;
    height: 100%;
    anchor-name: --control-pannel;
    border: 1px dashed yellow;
    opacity: 0;
  }
}
#control-pannel-row {
  position: absolute;
  position-anchor: --control-pannel;
  background-color: transparent;
  /* top: anchor(top); */
  bottom: 0%;
  left: -0.5%;
  height: 23%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 22% 1fr;
  grid-template-areas: ". center-buttons-0 .";
  z-index: 40;
  perspective: 1200px;
  transform-style: preserve-3d;
}
#control-pannel-container {
  --rx: 30deg;
  --ry: 0deg;
  --tz: 50px;
  --color: var(--grey);
  --primary-color: var(--color);
  --primary-color-light: oklch(from var(--primary-color) 0.7 c h);
  --primary-shadow: oklch(from var(--primary-color) l c h / 0.5);
  --secondary-color: var(--color-muted);
  --secondary-color-light: oklch(from var(--secondary-color) 0.7 c h);
  --secondary-shadow: oklch(from var(--secondary-color) l c h / 0.5);
  height: 100%;
  border: none;
  grid-area: center-buttons-0;
  background-color: transparent;
  margin: 20px 22px;
  display: grid;
  grid-template-rows: auto;
  padding: 10px;
  gap: 0px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translateZ(var(--tz));
  transform-style: preserve-3d;
  z-index: 1;
  &::before {
    height: 110%;
    width: 110%;
    content: "";
    position: absolute;
    bottom: 0;
    left: -5%;
    background-color: black;
    transform: translateZ(-1px);
  }

  /** **/
  .row-one-wrapper,
  .row-two-wrapper {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 5%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    .button-wrapper {
      /** VARS **/
      --rx: 00deg;
      --ry: 0deg;
      --tz: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotateX(var(--rx)) rotateY(var(--ry)) translateZ(var(--tz));
      transform-style: preserve-3d;

      .control-btn {
        cursor: pointer;
        opacity: 1;
        z-index: 39;
        aspect-ratio: 1 / 1;
        pointer-events: auto;
        border: 2px solid var(--primary-color);
        border-radius: 10px;
        padding: 6px;
        justify-content: center;
        align-items: center;
        background: black;
        box-shadow:
          0 4px var(--primary-shadow),
          0 40px 20px rgba(0, 0, 0, 0.3);
        backface-visibility: hidden;
        min-width: fit-content;
        min-height: fit-content;
        svg {
          stroke: var(--secondary-color);
          height: 100%;
          width: 100%;
          stroke-width: 4px;
          filter: drop-shadow(0 0 3px var(--secondary-shadow))
            drop-shadow(0 0 3px var(--secondary-shadow));
          /* animation: alien-lang-pulse 20s infinite ease-in-out; */
        }
        &:hover {
          color: var(--secondary-color);
          svg {
            stroke: var(--secondary-color);
            filter: drop-shadow(0 0 3px var(--secondary-color-light))
              drop-shadow(0 0 3px var(--secondary-shadow));
            animation: none;
          }
        }
      }
      &:hover {
        --tz: 5px;
      }
    }
  }
  .row-one-wrapper {
    padding-left: 2%;
    padding-right: 2%;
  }
}

body[data-orientation="portrait"] {
  #control-pannel-row {
    grid-template-columns: 1fr 50% 1fr;
    padding-top: 10%;
  }
  #control-pannel-container {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    --rx: 0deg;
    --ry: 0deg;
    --tz: 0px;
    /* border: 1px solid oklch(from var(--red-800) 0.7 c h);
    filter: drop-shadow(0 0 3px var(--red-800)); */

    border-radius: 6px;
    background-color: transparent;
    margin: 6px;
    gap: 10%;
    /* transform: translateX(-50%); */
  }
  #control-pannel-container::before {
    content: none;
  }
  .control-btn {
    svg {
      max-height: 30px;
      max-width: 30px;
    }
  }
  /* @media (min-width: 380px) {
    #control-pannel-container {
      left: 7%;
    }
  }
  @media (min-width: 430px) {
    #control-pannel-container {
      left: 10%;
    }
  } */
}

/** Stagger button animations **/

/* First Row Buttons */
.row-one-wrapper .button-wrapper:nth-child(1) svg {
  animation-delay: 0.2s;
}
.row-one-wrapper .button-wrapper:nth-child(2) svg {
  animation-delay: 0.4s;
}
.row-one-wrapper .button-wrapper:nth-child(3) svg {
  animation-delay: 0.6s;
}

/* Second Row Buttons */
.row-two-wrapper .button-wrapper:nth-child(1) svg {
  animation-delay: 0.8s;
}
.row-two-wrapper .button-wrapper:nth-child(2) svg {
  animation-delay: 1s;
}
.row-two-wrapper .button-wrapper:nth-child(3) svg {
  animation-delay: 1.2s;
}
