/** Control Panel Hover Effects **/
.svg-control-tooltips {
  position: absolute;
  pointer-events: none;
  z-index: 100;
  height: 300%;
}
.svg-control-text {
  fill: var(--green-100);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s 0.3s;
  font-size: 8px;
  text-decoration: underline;
  text-underline-offset: 2px;
  shape-rendering: crispEdges;
  text-rendering: geometricPrecision;
}
.svg-control-tooltips > polyline {
  stroke: var(--green-100);
  stroke-width: 1;
  fill: none;
  transition: stroke-dashoffset 0.6s ease-in-out;
  filter: drop-shadow(0 0 2px var(--green-100))
    drop-shadow(0 0 4px var(--green-100));
}

/**Log Button Hover **/
#control-log {
  anchor-name: --log-button;
}
#log-btn-svg {
  position-anchor: --log-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(37%, -1%);
}
#log-btn-svg > polyline {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
/* Changing visisbility on hover*/
#control-log:hover + #log-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-log:hover + #log-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-log + #log-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-log + #log-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/* Bio */
#control-bio {
  anchor-name: --profile-button;
}
#bio-btn-svg {
  position-anchor: --profile-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(-3%, 0%);
}

#bio-btn-svg > polyline {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
}

/* Changing visisbility on hover*/
#control-bio:hover + #bio-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-bio:hover + #bio-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-bio + #bio-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-bio + #bio-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/** Lightspeed btn-normal Hover **/
#lightspeed-btn {
  anchor-name: --profile-button;
}
#lightspeed-btn-svg {
  position-anchor: --profile-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(-3%, 0%);
}

#lightspeed-btn-svg > polyline {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
}

/* Changing visisbility on hover*/
#lightspeed-btn:hover + #lightspeed-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#lightspeed-btn:hover + #lightspeed-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#lightspeed-btn + #lightspeed-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#lightspeed-btn + #lightspeed-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/** Projects Button Hover **/
#control-projects {
  anchor-name: --profile-button;
}

#projects-btn-svg {
  position-anchor: --profile-button;
  bottom: anchor(top);
  left: anchor(right);
  transform: translate(-23%, -1%);
}
#projects-btn-svg > polyline {
  stroke-dasharray: 145;
  stroke-dashoffset: 145;
}
/* Changing visisbility on hover*/
#control-projects:hover + #projects-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-projects:hover + #projects-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-projects + #projects-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-projects + #projects-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/** One Button Hover **/
#control-one {
  anchor-name: --one-button;
}
#one-btn-svg {
  position-anchor: --one-button;
  bottom: anchor(top);
  left: anchor(right);
  transform: translate(-23%, 0%);
}
#one-btn-svg > polyline {
  stroke-dasharray: 102;
  stroke-dashoffset: 102;
}
/* Changing visisbility on hover*/
#control-one:hover + #one-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-one:hover + #one-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-one + #one-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-one + #one-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/**Acorn Button Hover **/

#control-acorn {
  anchor-name: --acorn-button;
}
#acorn-btn-svg {
  position-anchor: --acorn-button;
  bottom: anchor(top);
  right: anchor(right);
  transform: translate(37%, -2%);
}
#acorn-btn-svg > polyline {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
}
/* Changing visisbility on hover*/
#control-acorn:hover + #acorn-btn-svg > polyline {
  stroke-dashoffset: 0;
}
#control-acorn:hover + #acorn-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#control-acorn + #acorn-btn-svg.active > polyline {
  stroke-dashoffset: 0;
}
#control-acorn + #acorn-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

/* .control-btn > svg {
  display: none;
} */

#control-btn-pannel {
  position: relative;
  margin: auto;
  width: 150px;
  height: 100%;
  anchor-name: --control-pannel;
  border: 1px dashed yellow;
  opacity: 0;
}

#control-pannel-row {
  position: absolute;
  position-anchor: --control-pannel;
  background-color: none;
  /* top: anchor(top); */
  bottom: -2.5%;
  left: -0.5%;
  height: 23%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 22% 1fr;
  /* grid-template-rows: repeat(2, auto); */
  grid-template-areas: ". center-buttons-0 ."; /* gap: 40px; */
  z-index: 40;
}
#control-pannel-container {
  height: 100%;
  grid-area: center-buttons-0;
  background-color: black;
  margin: 4px 22px;
  display: grid;
  grid-template-rows: auto;
  gap: none;
  perspective: 1000px;
  -webkit-perspective: 1000px;

  transform-style: preserve-3d;
}
#control-pannel-container::before {
  height: 120%;
  width: 120%;
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  background-color: black;
}

/** **/
.row-one-wrapper,
.row-two-wrapper {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  .button-wrapper {
    /** VARS **/
    --rx: 30deg;
    --ry: 0deg;
    --tz: 50px;
    --primary-color: var(--green-900);
    --primary-color-light: oklch(from var(--primary-color) 0.7 c h);
    --primary-shadow: oklch(from var(--primary-color) l c h / 0.5);
    --secondary-color: var(--green-800);
    --secondary-color-light: oklch(from var(--secondary-color) 0.7 c h);
    --secondary-shadow: oklch(from var(--secondary-color) l c h / 0.5);

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateX(var(--rx)) rotateY(var(--ry)) translateZ(var(--tz));
    transform-style: preserve-3d;

    .control-btn {
      cursor: pointer;
      opacity: 1;
      z-index: 39;
      aspect-ratio: 1 / 1;
      pointer-events: auto;
      border: 2px solid var(--primary-color);
      border-radius: 10px;
      padding: 6px;
      justify-content: center;
      align-items: center;
      background: black;
      box-shadow: 0 4px var(--primary-shadow), 0 40px 20px rgba(0, 0, 0, 0.3);
      backface-visibility: hidden;
      min-width: fit-content;
      min-height: fit-content;
      svg {
        stroke: var(--secondary-color);
        height: 100%;
        width: 100%;
        stroke-width: 4px;
        filter: drop-shadow(0 0 3px var(--secondary-shadow))
          drop-shadow(0 0 3px var(--secondary-shadow));
        animation: alien-lang-pulse 20s infinite ease-in-out;
      }
      &:hover {
        /* transform: translateZ(5px); */
        /* box-shadow: 0 0 20px var(--secondary-shadow); */
        /* background-color: var(--red-900); */
        color: var(--secondary-color);
        svg {
          stroke: var(--secondary-color);
          filter: drop-shadow(0 0 3px var(--secondary-color-light))
            drop-shadow(0 0 3px var(--secondary-shadow));
          animation: none;
        }
      }
    }
    &:hover {
      --tz: 52px;
    }
  }
}
.row-one-wrapper {
  padding-left: 2%;
  padding-right: 2%;
}

body[data-orientation="portrait"] {
  #control-pannel-row {
    grid-template-columns: 1fr 50% 1fr;
    padding-top: 14%;
  }
  #control-pannel-container {
    height: 40%;
  }
}
