#spaceship-content {
  color: var(--green-100);
  padding: 14px;
  display: none;
}

.spaceship-2 {
  transform: rotate(25deg);
  /* display: none; */
}
/* .spaceship-2.active {
  display: block;
} */
.spaceship-monitor > img:hover {
  opacity: 1;
}

.display-content {
  visibility: hidden;
  position: relative;
  opacity: 0;
  transition: opacity var(--transition-duration) ease-in-out;
}
.display-content.active {
  visibility: visible;
  opacity: 1;
  height: 100%;
  width: 100%;
}

body[data-orientation="portrait"] {
  .display-content {
    padding: 10px 20px;
  }
  .screen-content {
    padding-left: 20px;
    padding-right: 20px;
  }
  #bottom-display-controls {
    bottom: 20%;
  }
  #spaceship-display.open #display-content-container {
    max-height: 70%;
  }
  .feature-container {
    gap: 20px;
  }

  #project-left-arrow {
    left: 16px;
  }
  #project-right-arrow {
    right: 16px;
  }
  .feature-content-container {
    padding: 10px 20px;
  }
}

.screen-content > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
  line-height: 2em;
}

ul > li {
  animation: terminalFlicker 2s infinite linear alternate;
  cursor: pointer;
}

ul > li::marker {
  content: "";
}

ul > li::before {
  background-color: var(--green-100);
}

.screen-content .links-section {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.screen-content .links-section > a {
  color: var(--green-100);
}

.cephproject-content p {
  margin: 5px 0;
  line-height: 1.4;
}
#spaceship-monitor {
  position: absolute;
  bottom: 1%;
  left: 60.5%;
  width: 14%;
  cursor: pointer;
  opacity: 1;
  background-color: black;
  z-index: 39;
  aspect-ratio: 1/ 0.8;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  justify-content: center;
  padding: 4px;
}
.monitor-content {
  /* display: none; */
  pointer-events: auto;
  grid-area: stack;
  margin: auto;
  max-width: 60%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.active {
    /* display: block; */
    opacity: 1;
    @starting-style {
      opacity: 0;
    }
  }
}
.monitor-content.active {
  display: block;
}

/** sonar 
https://codepen.io/thebabydino/pen/AqbWeE
**/

#sonar-container {
  --color: var(--red);
  /* contain: layout style paint; */
  position: absolute;
  bottom: -1.8%;
  left: 26%;
  width: 14%;
  aspect-ratio: 1 / 1;

  .sonar,
  .sweep {
    position: absolute;
    will-change: transform;
    transform: transform3d(0, 0, 0);
  }
  .sonar {
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow:
      0 0 0 1px hsla(0, 0%, 0%, 0.5),
      inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    /*TODO: Replace with image */
    background:
      repeating-radial-gradient(
        transparent 0 23px,
        var(--color-muted) 24px 26px,
        #0000 27px
      ),
      linear-gradient(
          transparent 49.75%,
          var(--color-muted) 0 50.25%,
          transparent 0
        )
        50% no-repeat,
      linear-gradient(
          90deg,
          transparent 49.75%,
          var(--color-muted) 0 50.25%,
          transparent 0
        )
        50% no-repeat,
      linear-gradient(#333, #111);
    background-size:
      100%,
      218px 218px,
      218px 218px,
      100%;
  }
  .sweep {
    box-sizing: border-box;
    border-right: solid 1px var(--color-muted);
    width: 50%;
    height: 50%;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(
      50deg,
      rgba(34, 34, 34, 0) 56%,
      hsla(from var(--color-muted) h s l, 1)
    );
    animation: sweep 5s infinite linear;
  }
}

@media (max-width: 1100px) {
  .screen-content > ul {
    margin-left: 10px;
  }

  .screen-content {
    line-height: 1.2em;
  }
  .screen-content > ul {
    line-height: 1.2em;
  }
  .projects-content .content {
    border: 1px dotted var(--green-100);
    padding: 2px 10px;
    border-radius: 10px;
  }
  .content > p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@media (max-width: 650px) {
  .screen-content > ul {
    margin-left: 0px;
  }

  .screen-content {
    line-height: 1em;
  }
  .screen-content > ul {
    line-height: 1em;
  }
  .screen-content > ul > li {
    line-height: 1em;
  }
}
