.display-content {
  padding: 10px 10px;
}
#design {
  text-align: start;

  padding: 10px;
  > section {
    margin-bottom: 20px;
  }
  .description {
    padding-bottom: 8px;
    font-size: 1.4rem;
  }
  h1 {
    margin-bottom: 10px;
  }
  h3 {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }
}
#color-palette-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  color: white;
  margin-bottom: 20px;
  .single-color {
    /* --color-hover: oklch(from var(--color) calc(l + 0.05) c h); */
    display: flex;
    justify-content: space-between;
    border: 1px dashed grey;
    width: 100%;
    padding: 6px;
    flex-wrap: wrap;
    gap: 2px;
    > h4 {
      min-width: 120px;
    }
    > div > label {
      font-size: 1.2rem;
    }

    > div > div {
      flex: 1 1 0;
      min-width: 100px;
      min-height: 40px;
      align-items: center;
      display: flex;
      justify-content: center;
    }
    .normal {
      background-color: var(--color);
    }
    .muted {
      background-color: var(--color-muted);
    }
    .vibrant {
      background-color: var(--color-vibrant);
    }
    .light {
      background-color: var(--color-light);
    }
    .dark {
      background-color: var(--color-dark);
    }
    /* .hover {
      background-color: var(--color-hover);
    } */
    &.green {
      --color: var(--green);
    }
    &.pink {
      --color: var(--pink);
    }
    &.blue {
      --color: var(--blue);
    }
    &.yellow {
      --color: var(--yellow);
    }
    &.cyan {
      --color: var(--cyan);
    }
    &.grey {
      --color: var(--grey);
    }
    &.purple {
      --color: var(--purple);
    }
    &.green-yellow {
      --color: var(--green-yellow);
    }
  }
}
#icons-container {
  border: 1px dashed grey;
  width: 100%;
  min-height: 100px;
  padding: 6px 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
