/** Styles for the spaceship display containers/wrappers + ones common 
to all content, specific styles can be found in their appropriate stylesheet (bio.css, log.css...) **/

/******** MAIN DISPLAY DIV *****
Toggle it to increase the max-height and thus open the spaceship display

spaceship display needs to be larger than the actual screen space to ensure it fills the area correctly.


**/

#spaceship-display {
  position: absolute;
  display: block;
  top: 0;
  left: 14%;
  max-height: 0;
  width: 72%;
  opacity: 1;
  background-color: black;
  z-index: 38;
  overflow: hidden;
  aspect-ratio: 1 / 0.8;
  clip-path: polygon(12% 0, 88% 0, 100% 16%, 88% 76%, 10% 76%, 0 18%);
  transition:
    max-height 0.7s ease-in-out,
    opacity 0.4s ease-in-out;
}
#spaceship-display.open {
  max-height: 100%;
  opacity: 1;
  pointer-events: auto;
}
#spaceship-display p {
  margin-top: 4px;
  margin-bottom: 4px;
}

/******** WRAPPER FOR DISPLAY CONTENT  *****
Content gets fetched and placed within this wrapper
**/

#display-content-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
  width: 76%;
  z-index: 39;
  color: var(--green-200);
  pointer-events: auto;
  background-color: black;
  overflow: auto;
}

#spaceship-display.open #display-content-container {
  /* height: 66.5%; */
  max-height: 66.5%;
}

#display-title {
  font-size: 2.8rem;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
#display-title.active {
  opacity: 1;
}

body[data-orientation="portrait"] {
  #spaceship-display {
    padding-top: 0px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: calc(100dvh);
    max-height: 0;
    width: 100vw;
    max-width: 500px;
    opacity: 1;
    z-index: 20;
    overflow: hidden;
    aspect-ratio: auto;
    clip-path: none;
  }
  #spaceship-display.open {
    max-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }
  #spaceship-display p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  #display-content-container {
    margin-top: 7dvh;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    max-width: 360px;
    height: 74dvh;
    @media (max-width: 500px) {
      max-width: 320px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: 400px) {
      max-width: 300px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .display-title {
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  button,
  a,
  p,
  blockquote,
  li {
    font-size: 1.2rem;
  }
  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  ul {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 0;
  }
}
#display-close-btn {
  border: 1px dashed var(--red-800);
  display: none;
  opacity: 0;
  border-radius: 100px;
  position: absolute;
  height: 30px;
  width: 30px;
  bottom: 25.5%;
  right: 50%;
  z-index: 400;
  transform: translate(50%, 0%);
  fill: var(--red-800);
  align-items: center;
  justify-content: center;
  transition:
    border-color 0.3s ease,
    fill 0.3s ease,
    opacity 0.5s ease;
}
#display-close-btn.active {
  display: flex;
  opacity: 1;
}

#display-close-btn:hover {
  fill: var(--green-100);
  border: 1px dashed var(--green-100);
}

.screen-content {
  position: relative;
  padding: 10px;
  background: black;
  margin: 5px;
  z-index: 1;
}

.screen-content::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: black;
  z-index: -1;
  border-radius: inherit;
}

/**  Adapted from https://codepen.io/NeilSchulz/pen/ZYOzJWq 
 **/

/* @property --gradient_rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#display-close-btn {
  --gradient_rotate: 0deg;

  --border_width: 0.5rem;

  --metal_01: oklch(0.6157 0.17656 148.3635);
  --metal_02: oklch(0.8895 0.095 156.46);
  --metal_03: oklch(0.5641 0.1852 143.54);
  --metal_04: oklch(0.2 0.1852 143.54);
  --metal_05: oklch(0.1 0.1852 143.54);
  --metal_06: oklch(0.9.1852 143.54);

  position: absolute;
  bottom: 25%;
  right: 50%;
  z-index: 400;
  transform: translate(50%, 0%);
  cursor: pointer;
  padding-inline: 1rem;
  padding-block: 1rem;
  background: linear-gradient(
        0deg,
        rgb(010 010 110 / 1) 10%,
        rgb(040 040 150 / 1)
      )
      padding-box,
    conic-gradient(
        from var(--gradient_rotate),
        rgb(from var(--metal_01) r g b / 0.5),
        rgb(from var(--metal_01) r g b / 0),
        rgb(from var(--metal_06) r g b / 0),
        rgb(from var(--metal_06) r g b / 1),
        rgb(from var(--metal_04) r g b / 0.5),
        rgb(from var(--metal_04) r g b / 0),
        rgb(from var(--metal_04) r g b / 1),
        rgb(from var(--metal_01) r g b / 0.5)
      )
      border-box;

  border-radius: 100%;
  border: var(--border_width) solid transparent;
  animation: button_gradient_rotate 12s linear infinite;
}

#display-close-btn > svg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#display-close-btn::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  content: "";
  position: absolute;
  inset: calc(-1 * var(--border_width));
  z-index: -1;
  border-radius: inherit;
  background: conic-gradient(
        from var(--gradient_rotate),
        rgb(from var(--metal_03) r g b / 1),
        rgb(from var(--metal_01) r g b / 1),
        rgb(from var(--metal_01) r g b / 1),
        rgb(from var(--metal_06) r g b / 1),
        rgb(from var(--metal_02) r g b / 1),
        rgb(from var(--metal_05) r g b / 1),
        rgb(from var(--metal_04) r g b / 1),
        rgb(from var(--metal_03) r g b / 1)
      )
      padding-box,
    conic-gradient(
        from 0deg,
        rgb(from var(--metal_03) r g b / 1),
        rgb(from var(--metal_01) r g b / 1),
        rgb(from var(--metal_01) r g b / 1),
        rgb(from var(--metal_06) r g b / 1),
        rgb(from var(--metal_02) r g b / 1),
        rgb(from var(--metal_05) r g b / 1),
        rgb(from var(--metal_04) r g b / 1),
        rgb(from var(--metal_03) r g b / 1)
      )
      border-box;
  animation: button_gradient_rotate 8s linear infinite reverse;
  border: 0.25rem solid transparent;
}

@keyframes button_gradient_rotate {
  from {
    --gradient_rotate: 0deg;
  }
  to {
    --gradient_rotate: 360deg;
  }
} */
