/* .control-btn > svg {
    display: block;
    stroke: var (--red-800);
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    filter: drop-shadow(0 0 5px rgb(122, 18, 0))
      drop-shadow(0 0 5px rgb(133, 15, 0));
  } */

#mobile-spaceship-overlay-mask {
  display: none;
}
body[data-orientation="portrait"] {
  background-color: black;

  /** Remove things that are only used in landscape mode **/
  #desktop-circuit-board-overlay,
  #svg-spaceship-overlay-desktop,
  #spaceship-interior {
    display: none;
  }

  .wrapper {
    aspect-ratio: auto;
    max-width: 500px;
    height: 100dvh;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  /* #spaceship-interior-background {
    display: none;
  } */

  #mobile-spaceship-interior {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 500px;
    height: 18dvh;
    background-color: black;
  }
  #mobile-control-pannel {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 500px;
    height: 18dvh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    z-index: 400;
  }

  #spaceship-monitor {
    position: relative;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid var(--red-800);
    box-shadow:
      inset 0 0 10px 0px var(--red-800),
      0 0 10px rgba(255, 0, 0, 0.8);
    align-self: center;
    bottom: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #sonar-container {
    z-index: 300;
    border-radius: 100px;
    position: relative;
    width: 80px;
    bottom: auto;
    left: auto;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--red-800);
    box-shadow:
      inset 0 0 10px 0px var(--red-800),
      0 0 10px rgba(255, 0, 0, 0.8);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  /* #control-btn-pannel {
    position: relative;
    margin: auto;
    width: 150px;
    height: 100%;
    anchor-name: --control-pannel;
    border: 1px dashed yellow;
    opacity: 0;
  } */

  #mobile-spaceship-overlay {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 500px;
    height: calc(100dvh);
    z-index: 30;
  }
  /* #mobile-spaceship-overlay-outline {
  } */
  #mobile-spaceship-overlay-mask {
    --color: var(--red);
    display: block;
    fill: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    stroke-width: 1px;
    stroke: var(--color);
    &.green {
      --color: var(--green);
    }
    &.pink {
      --color: var(--pink);
    }
    &.red {
      --color: var(--red);
    }
    &.blue {
      --color: var(--blue);
    }
    &.yellow {
      --color: var(--yellow);
    }
    &.purple {
      --color: var(--purple);
    }
    &.green-yellow {
      --color: var(--green-yellow);
    }
    &.white {
      --color: white;
    }
  }
  #mobile-side-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    stroke: var(--red-800);
  }
  #alien-info {
    top: 20dvh;
    right: auto;
    left: 0;
    bottom: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    z-index: 30;
    background-color: rgba(0, 0, 0, 1);
    transform: translate(-200%, 0%);
    padding: 4px;
    pointer-events: auto;
  }

  #alien-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #alien-message-container {
    display: flex;
    flex-direction: column;
  }
  #alien-sidekick {
    display: none;
  }
  #alien-sidekick-2 {
    width: 100%;
    max-width: 100px;
  }

  .info-content {
    padding-left: 60px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 0;
    justify-content: space-between;
    flex-direction: row;
  }
  .info-content-text {
    width: 180px;
    margin-top: auto;
    margin-bottom: auto;
  }

  #mobile-side-decoration {
    --color: var(--red);
    &.green {
      --color: var(--green);
    }
    &.pink {
      --color: var(--pink);
    }
    &.red {
      --color: var(--red);
    }
    &.blue {
      --color: var(--blue);
    }
    &.yellow {
      --color: var(--yellow);
    }
    &.purple {
      --color: var(--purple);
    }
    &.green-yellow {
      --color: var(--green-yellow);
    }
    &.white {
      --color: white;
    }

    .vector {
      stroke: var(--color-dark);
      stroke-width: 2;
      filter: drop-shadow(0 0 4px var(--color-dark))
        drop-shadow(0 0 8px var(--color-dark));
    }
    .side-vector-animation,
    .bottom-vector-animation,
    .top-vector-animation {
      stroke: var(--color);
      stroke-width: 1;
      stroke-linecap: round;
      filter: drop-shadow(0 0 10px var(--color-dark))
        drop-shadow(0 0 10px var(--color-dark));
    }

    .side-vector-animation {
      stroke-dasharray: 10 1036;
      stroke-dashoffset: 1000;
      animation: electrical-pulse 4s linear infinite;
    }
    .side-vector-animation.left {
      animation-delay: 0s;
    }
    .side-vector-animation.right {
      animation-delay: -1.5s;
    }

    .bottom-vector-animation {
      stroke-dasharray: 10 457;
      stroke-dashoffset: 457;
      animation: electrical-pulse-bottom 4s linear infinite;
    }

    .bottom-vector-animation.upper {
      animation-delay: -0.5s;
    }

    .bottom-vector-animation.lower {
      animation-delay: -2.5s;
    }

    .top-vector-animation {
      stroke-dasharray: 10 426;
      stroke-dashoffset: 426;
      animation: electrical-pulse-top 4s linear infinite;
    }
  }
  .space-scene-video {
    /* width: auto; */
  }
  #space-whale-space-scene,
  #infected-satellite-space-scene {
    transform: rotate(-90deg) translate(0, -20%);
    top: 0;
    left: 0;
    width: 100dvh;
  }

  #star-space-scene .landscape,
  #black-hole-space-scene .landscape {
    display: none;
  }
  #black-hole-space-scene .portrait {
    transform: rotate(-90deg) translate(-26%, -39%);
  }
  #red-planet-space-scene .portrait,
  #star-space-scene .portrait,
  #black-hole-space-scene .portrait {
    display: block;
    height: 100%;
    margin-left: 10px;
  }
  #black-hole-space-scene .portrait {
    height: 56%;
  }
  #red-planet-space-scene .landscape {
    display: none;
  }

  #derelict-space-station .portrait {
    display: block;
    height: 100%;
    margin-left: 10px;
  }

  #derelict-space-station .landscape {
    display: none;
  }

  .svg-control-tooltips {
    display: none;
  }

  /** SPACE ELEMENTS **/

  #space-whale {
    max-height: 10%;
    max-width: none;
  }

  #space-station {
    max-height: 10%;
    max-width: none;
  }
  #space-whale {
    max-height: 10%;
    max-width: none;
  }
  #red-planet {
    max-width: none;
    max-height: 40dvh;
    bottom: -10%;
    left: -20%;
  }
  #star {
    max-height: 10%;
    max-width: none;
  }
  #asteroid > img {
    max-height: 10dvh;
    max-width: none;
  }
  #satellite > img {
    max-height: 10dvh;
    max-width: none;
  }
  #space-black-hole {
    max-height: 10%;
    max-width: none;
  }
}
