/** PROJECT LIST PAGE -------------------------------- **/
.projects-list.active {
  padding-inline-start: 0px;
}

#display-title,
#project-content {
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
#display-title.active,
#project-content.active {
  opacity: 1;
}

#display-title.active {
  display: block;
  animation: terminalFlicker 0.1s infinite linear alternate;
}

/** PROJECT CONTENT PAGE -------------------------------- **/

/* #projects-content-container .content {
  padding: 20px 10px;
  border-radius: 10px;
  font-family: "Orbitron", monospace;
  color: var(--green-100);
  text-shadow: 0 0 5px var(--green-100);
  background: rgba(0, 0, 0, 0.9);
  animation: terminalFlicker 0.1s infinite linear alternate;
  transition: opacity 0.5s ease-in-out;
  border: 1px dashed yellow;
} */

/* #projects-content-container .content.active {
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 1;
} */

#display-projects {
  /* overflow: hidden; */
  #display-title {
    height: 10%;
    margin: 0px;
    padding: 10px 20px;
  }

  #projects-content-container {
    height: 90%;
    overflow: auto;

    #project-content.active {
      display: flex;
      gap: 20px;
      flex-direction: column;
    }

    #project-content .row-2 {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
    }
    #project-description {
      padding-top: 10px;
      padding-bottom: 20px;
      flex: 1 1 0px;
    }
    #project-links-container {
      flex: 1 1 0px;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 4px;
      .space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .links-section {
          padding: 0;
        }
      }
      .is-disabled {
        cursor: not-allowed;
      }
    }

    .projects-screenshot-container {
      width: 50%;
      border-radius: 10px;
      overflow: hidden;
      padding: 10px;
    }
    img {
      display: block;
      box-shadow:
        0 0 10px 2px var(--red-800),
        inset 0 0 40px var(--red-900);
    }
  }
}

#projects-content-container .content a {
  color: var(--green-100);
  text-decoration: underline;
  text-shadow: 0 0 5px var(--green-100);
}

#projects-content-container .content a:hover {
  text-shadow: 0 0 10px var(--green-100);
  background: rgba(0, 160, 65, 0.1);
}
#projects-back-button {
  position: absolute;
  top: 5px;
  left: 40px;
  display: none;
  cursor: pointer;
  z-index: 30;
  cursor: pointer;
}
#display-projects {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#projects-main-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 2rem;
  gap: 3rem;
  justify-content: start;
}
#projects-main-menu li {
  font-size: 1.6rem;
}

.projects-screenshot {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  filter: opacity(50%);
}
.projects-screenshot:hover {
  filter: opacity(100%);
}
@media (max-width: 650px) {
  .screen-content > ul {
    margin-left: 0px;
  }

  /* .screen-content {
    line-height: 1em;
  }
  .screen-content > ul {
    line-height: 1em;
  }
  .screen-content > ul > li {
    line-height: 1em;
  } */
  .project-content {
    border: 1px dotted var(--green-100);
    padding: 20px 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
  }
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-width: 800px;
  gap: 50px;
}
@keyframes sparkTravel {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
.feature-button-container {
  display: grid;
  gap: 20px;
  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 20px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    color: white;
    border: 2px solid var(--red-900);
    font-size: 24px;
    z-index: 5;
    &.active,
    &:hover {
      border-color: var(--green-200);
      &::before {
        background: linear-gradient(
          90deg,
          transparent 0%,
          var(--green-200) 50%,
          transparent 100%
        );
        background-size: 200% 100%;
        animation: sparkTravel 1.5s infinite linear;
      }
    }
    span {
      display: flex;
      justify-content: start;
      align-items: center;
    }
    &::before {
      position: absolute;
      right: -101px;
      top: 50%;
      z-index: 100;
      content: "";
      height: 1px;
      width: 100px;
      color: var(--green-200);
      background-color: var(--red-800);
      animation: electricPulse 10s ease-in-out;

      background-size: 200% 100%;
    }
  }
}

.feature-content-container {
  padding: 10px 20px;
  border: 2px solid var(--green-200);
  display: grid;
  grid-template-areas: "stack";
  background-color: black;
  border-radius: 10px;
  max-height: 200px;
  z-index: 6;
  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    height: 180px;
  }
  li {
    list-style: none;
    position: relative;
    padding-left: 20px;
  }
  li::before {
    position: absolute;
    left: 0;
    top: 40%;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 100px;
    border: 1px solid green;
    background-color: black;
  }
}
.feature-content-container > ul {
  grid-area: stack;
  opacity: 0;
  visibility: hidden;
}
.feature-content-container > ul.active {
  opacity: 1;
}

.feature-container:has(#tech-btn.active) .tech-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/** ---------------------- PROJECT NAVIGATION ----------------- **/
#project-left-arrow,
#project-right-arrow {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  top: 0;
  left: 0;
  fill: var(--red-700);
  width: 40px;
  height: 40px;
  z-index: 400;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
#project-right-arrow {
  right: 0;
  left: auto;
}
#project-right-arrow.active,
#project-left-arrow.active {
  opacity: 1;
  display: block;
}

.feature-container:has(button.active) .feature-content-container {
  overflow: hidden;
  transition-delay: 200ms;
  animation: slideOpen 0.6s ease-in-out;
  animation-delay: 200ms;
}

.feature-container:has(#tech-btn.active) .tech-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.feature-container:has(#feat-btn.active) .feature-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.feature-container:has(#misc-btn.active) .notes-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
