/** PROJECT LIST PAGE -------------------------------- **/
.projects-list.active {
  padding-inline-start: 0px;
}

#display-title,
#project-content {
  opacity: 0;
  display: none;
  transition: opacity var(--transition-duration) ease-in-out;
}
#display-title.active,
#project-content.active {
  opacity: 1;
}

#display-title.active {
  display: block;
  /** TODO: Consider adding this back in as a finishing touch **/
  /* animation: terminalFlicker 0.1s infinite linear alternate; */
}

#display-title.invisible,
#project-content.invisible {
  opacity: 0;
  animation: none;
}
/** PROJECT CONTENT PAGE -------------------------------- **/

#display-projects {
  #display-title {
    height: 10%;
    margin: 0px;
    padding: 10px 20px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 96%;
      height: 2px;
      bottom: 0px;
      left: 0;
      transform: translate(2%, 0%);
      background-color: var(--green-900);
    }
  }
  .row-1,
  .row-2,
  .row-3 {
    padding: 30px 0px;
    position: relative;
  }
  .row-1 {
    padding-top: 15px;
  }
  .row-1,
  .row-2 {
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0px;
      left: 0;
      transform: translate(0%, 0%);
      background-color: var(--green-900);
    }
  }
  #projects-content-container {
    height: 90%;
    overflow: auto;

    #project-content.active {
      display: flex;
      /* gap: 60px; */
      flex-direction: column;
    }

    #project-content .row-2 {
      display: flex;
      flex-direction: row;
      width: 100%;
      gap: 20px;
    }
    #project-description {
      flex: 1 1 0px;
    }
    #project-links-container {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px;
      gap: 4px;
      .space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .links-section {
          padding: 0px;
        }
        .link-bubble {
          position: relative;
          border: 2px solid green;
          border-radius: 10px;
          min-width: 140px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          /* &::before {
            position: absolute;
            top: 50%;
            right: 0;
            width: 400%;
            height: 2px;
            background-color: green;
            content: "";
            transform: translate(100%, 100%);
          } */
        }
        .link-link {
          flex: 1;
          background-color: var(--green-800);
          width: 100%;
          height: 2px;
        }
        .pointed-text {
          z-index: 501;
          background-color: black;
          padding-left: 20px;
          padding-top: 0px;
          position: relative;
          &::before {
            position: absolute;
            left: 0;
            top: 25%;
            background-image: url("../icons/Hexagon.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            content: "";
            height: 12px;
            width: 12px;
            background-color: black;
          }
        }
      }
      .is-disabled {
        cursor: not-allowed;
      }
    }

    .projects-screenshot-container {
      border-radius: 10px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 40px;
    }
    img {
      max-width: 220px;
      max-height: 220px;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      /* box-shadow:
        0 0 10px 2px var(--red-800),
        inset 0 0 40px var(--red-900); */
    }
  }
}

#projects-content-container .content a {
  color: var(--green-100);
  text-decoration: underline;
  text-shadow: 0 0 5px var(--green-100);
}

#projects-content-container .content a:hover {
  text-shadow: 0 0 10px var(--green-100);
  background: rgba(0, 160, 65, 0.1);
}
#projects-back-button {
  display: block;
  max-width: 0px;
  opacity: 0;
  cursor: pointer;
  z-index: 30;
  overflow: hidden;
  cursor: pointer;
  transition: var(--transition-duration) ease-in-out;
}
#projects-back-button.active {
  max-width: 100px;
  opacity: 1;
}
#display-projects {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#projects-main-menu {
  display: none;
  flex-direction: column;
  height: 100%;
  padding-top: 2rem;
  gap: 3rem;
  justify-content: start;
  opacity: 0;
  transition:
    opacity var(--transition-duration) ease-in-out,
    display var(--transition-duration) ease-in-out allow-discrete;
  &.active {
    opacity: 1;
    display: flex;
    @starting-style {
      opacity: 0;
    }
  }
}
#projects-main-menu li {
  font-size: 1.6rem;
}

.projects-screenshot {
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  filter: opacity(80%);
}
.projects-screenshot:hover {
  filter: opacity(100%);
}
@media (max-width: 650px) {
  .screen-content > ul {
    margin-left: 0px;
  }

  /* .screen-content {
    line-height: 1em;
  }
  .screen-content > ul {
    line-height: 1em;
  }
  .screen-content > ul > li {
    line-height: 1em;
  } */
  .project-content {
    border: 1px dotted var(--green-100);
    padding: 20px 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
  }
}

.feature-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 50px;
}
@keyframes sparkTravel {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
.feature-button-container {
  display: grid;
  gap: 20px;
  --dark-red: var(--red-900);
  --med-red: var(--red-700);
  --light-green: var(--green-200);
  --med-green: var(--green-400);
  button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 4px 20px;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    color: white;
    border: 2px solid var(--dark-red);
    font-size: 18px;
    z-index: 5;
    transition: border-color var(--transition-duration) ease-in-out;
    .feature-title-icon {
      --border-color: var(--med-red);
      --fill-color: transparent;
      --fill-color-active: var(--dark-red);
      display: flex;
      justify-content: start;
      align-items: center;

      [class^="icon-title-"] {
        --fill-color-1: var(--fill-color);
        --fill-color-2: var(--fill-color);
        --fill-color-3: var(--fill-color);
        fill-opacity: 0.6;
        stroke: var(--border-color);
        transition:
          fill var(--transition-duration) ease-in-out,
          stroke var(--transition-duration) ease-in-out,
          opacity var(--transition-duration) ease-in-out;
        path {
          transition: var(--transition-duration);
          &:nth-child(1) {
            fill: var(--fill-color-1);
          }
          &:nth-child(2) {
            fill: var(--fill-color-2);
          }
          &:nth-child(3) {
            fill: var(--fill-color-3);
          }
        }
      }
      .icon-title-one > path:nth-child(1) {
        --fill-color-1: var(--fill-color-active);
      }
      .icon-title-two > path:nth-child(2) {
        --fill-color-2: var(--fill-color-active);
      }
      .icon-title-three > path:nth-child(3) {
        --fill-color-3: var(--fill-color-active);
      }
    }
    &::before {
      position: absolute;
      right: -101px;
      top: 50%;
      z-index: 100;
      content: "";
      height: 1px;
      width: 100px;
      background-color: var(--dark-red);
      animation: electricPulse 10s ease-in-out;
      transition: background-color var(--transition-duration) ease-in-out;
      background-size: 200% 100%;
    }

    &.active,
    &:hover {
      border-color: var(--light-green);
      &::before {
        background: linear-gradient(
          90deg,
          transparent 0%,
          var(--green-200) 50%,
          transparent 100%
        );
        background-size: 200% 100%;
        animation: sparkTravel 1.5s infinite linear;
      }
      .feature-title-icon {
        --border-color: var(--light-green);
        --fill-color: transparent;
        --fill-color-active: var(--med-green);
      }
    }
  }
}

.feature-content-container {
  --border-color: var(--green-200);
  padding: 20px 40px;
  border: 2px solid var(--border-color);
  display: grid;
  grid-template-areas: "stack";
  background-color: black;
  border-radius: 10px;
  max-height: 200px;
  z-index: 6;
  color: white;
  ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    height: 160px;
  }
  li {
    list-style: none;
    position: relative;
    padding-left: 20px;
    cursor: default;
  }
  li:hover {
    color: var(--border-color);
  }
  li::before {
    position: absolute;
    left: 0;
    top: 20%;
    background-image: url("../icons/Hexagon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    height: 12px;
    width: 12px;
    background-color: black;
  }
}
.feature-content-container > ul {
  grid-area: stack;
  opacity: 0;
  visibility: hidden;
}
.feature-content-container > ul.active {
  opacity: 1;
}

.feature-container:has(#tech-btn.active) .tech-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/** ---------------------- PROJECT NAVIGATION ----------------- **/
#project-left-arrow,
#project-right-arrow {
  position: absolute;
  cursor: pointer;
  opacity: 0;
  top: 0;
  left: 0;
  fill: var(--red-700);
  width: 40px;
  height: 40px;
  z-index: 400;
  display: none;
  transition: opacity var(--transition-duration) ease-in-out;
}
#project-left-arrow:hover.active,
#project-right-arrow:hover.active {
  fill: var(--green-200);
}
#project-right-arrow {
  right: 0;
  left: auto;
}
#project-right-arrow.active,
#project-left-arrow.active {
  opacity: 1;
  display: block;
}

.feature-container:has(button.active) .feature-content-container {
  overflow: hidden;
  /* transition-delay: 200ms;
  animation: slideOpen 0.6s ease-in-out;
  animation-delay: 200ms; */
}

.feature-container:has(#tech-btn.active) .tech-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.feature-container:has(#feat-btn.active) .feature-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.feature-container:has(#misc-btn.active) .notes-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
