#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.space-scene-video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}

#black-hole-space-scene .landscape {
  width: 100%;
  height: 100%;
}

#derelict-space-station .portrait {
  height: 100%;
  transform: rotate(-90deg) translateY(-50%);
}

#star-space-scene,
#derelict-space-station {
  .portrait {
    display: none;
  }
}
.space-scene-video.active {
  opacity: 1;
  visibility: visible;
}

.space-scene-video {
  video.landscape {
    height: 100%;
    width: 100%;
  }
}
