/* https://codepen.io/kevinpowell/pen/wBMbozY 

Use this as an example to build relative colros from this base
*/
button,
a,
blockquote {
  all: unset;
  transition:
    color var(--transition-duration) ease,
    background-color var(--transition-duration) ease;
}
svg {
  transition:
    fill 1s ease,
    stroke 1s ease;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: black;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(166, 238, 193, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--green-100);
}
html {
  scrollbar-gutter: stable;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(166, 238, 193, 0.3) transparent;
}

main {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  h1 {
    max-width: 800px;
    text-align: center;
  }
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2.8rem;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.2rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2.8rem;
  }
  h3 {
    font-size: 1.8rem;
  }
}

button,
a {
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}
a {
  color: var(--green-100);
}
a:hover {
  color: var(--green-100);
}
/*TODO: Make starfield adjust on resize*/
.wrapper {
  /* max-height: 100dvh; */
  /* width: 100%; */

  background-color: black;
  max-width: calc(100dvh * 16 / 9);
  margin: auto;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

#space-scene-container {
  height: 100%;
  width: 100%;
}
#fade-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background-color: black;
  opacity: 1;
  pointer-events: all;
}

/** ------!!!!!! ------------------------ LAYER 1 ---------------------!!!!!!!----------**/
#space-elements {
  z-index: 30;
  visibility: hidden;
  opacity: 0;
  transition:
    opacity 2s ease-in-out,
    visibility 0s 2s;
}

#space-elements.active {
  visibility: visible;
  opacity: 1;
}
.space-element {
  position: absolute;
  pointer-events: auto;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.space-element.active {
  display: block;
  opacity: 1;
}

#space-elements-section {
  z-index: 30;
  transition: opacity 2s ease-in-out;
  display: none;
  opacity: 0;
}

#space-elements-section.active {
  display: block;
  opacity: 1;
}

#space-black-hole {
  bottom: 22%;
  left: 72%;
  transform: translate(-50%, -50%) rotate(10deg);
  max-height: 12%;
  opacity: 0.3;
}
#space-black-hole:hover {
  opacity: 1;
}
#asteroid {
  top: 0;
  right: 0;
  z-index: 31;
  opacity: 0.8;
}
#asteroid > img {
  width: 8vw;
  max-width: 120px;
}
#asteroid .initial {
  display: block;
  opacity: 0.8;
}
#asteroid .end {
  display: none;
  opacity: 1;
}
#asteroid .initial:hover,
#asteroid .end:hover {
  opacity: 1;
}
#asteroid .end.active {
  display: block;
  opacity: 1;
}
#star {
  top: 4%;
  left: 20%;
  max-width: 8%;
  opacity: 0.2;
}
#star.animated {
  animation: spin 10s linear infinite;
}
#star:hover {
  animation: none;
  opacity: 1;
}
#red-planet {
  bottom: -20%;
  left: -20%;
  max-width: 40%;
  z-index: 30;
  transform: rotate(0deg);
  opacity: 0.4;
}
#red-planet:hover {
  opacity: 1;
}
#space-whale {
  bottom: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  max-width: 12%;
}
#space-whale.animated {
  animation: pulse 10s linear infinite alternate;
}
#space-whale:hover {
  animation: none;
  opacity: 1;
}
#satellite {
  bottom: 0;
  right: 0;
  z-index: 30;
}
#satellite > img {
  height: 10dvh;
  max-height: 120px;
  animation: spin 30s linear infinite;
  opacity: 1;
}
#satellite > img:hover {
  animation: none;
  opacity: 1;
}
#space-station {
  top: 20%;
  right: 12%;
  transform: translate(-50%, -50%) rotate(15deg);
  max-height: 10%;
}
#space-station.animated {
  animation: pulse 10s linear infinite alternate;
}
#space-station:hover {
  animation: none;
  opacity: 1;
}

/** -----!!!!!------------------- INTERIOR LAYER 3 -------------------------!!!!!-----**/

#interior-sections {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/** ------------------------ SPACESHIP INTERIOR ------------------------------**/

#spaceship-interior-section {
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 42;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#spaceship-interior {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 1;
  display: block;
  z-index: 50;
  background-image: url("../images/spaceship/pilot-overlay-desktop.png");
}

#spaceship-interior-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 38;
  /* background-image: url("../images/space/pilots_seat_background.png"); */
  background-size: cover;
  background-position: center;
  pointer-events: none;
  opacity: 1;
}

#svg-spaceship-overlay-desktop {
  z-index: 100;
  position: absolute;
  top: 0px;
  left: 0;
  height: 101%;
  width: 100%;
  stroke-width: 2px;
  stroke: gray;
  filter: url(#hyper-glow);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

/** ------------------------ ALIEN SIDEKICK ------------------------------**/

/** ------------------------ LIGHTSPEED QUADRANT ANIMATIONS ------------------------------**/
@keyframes fly-to-top-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(-10vw, -10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(-30vw, -30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(-60vw, -60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(-100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(-150vw, -150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-to-top-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(10vw, -10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(30vw, -30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(60vw, -60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(150vw, -150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-to-bottom-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(-10vw, 10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(-30vw, 30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(-60vw, 60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(-100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(-150vw, 150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-to-bottom-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(10vw, 10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(30vw, 30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(60vw, 60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(150vw, 150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-from-top-left {
  0% {
    transform: translate(-150vw, -150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(-100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(-60vw, -60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(-30vw, -30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(-10vw, -10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

@keyframes fly-from-top-right {
  0% {
    transform: translate(150vw, -150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(60vw, -60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(30vw, -30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(10vw, -10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

@keyframes fly-from-bottom-left {
  0% {
    transform: translate(-150vw, 150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(-100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(-60vw, 60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(-30vw, 30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(-10vw, 10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

@keyframes fly-from-bottom-right {
  0% {
    transform: translate(150vw, 150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(60vw, 60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(30vw, 30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(10vw, 10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

.lightspeed-fly-out-top-left {
  animation: fly-to-top-left 2s ease-in forwards;
}

.lightspeed-fly-out-top-right {
  animation: fly-to-top-right 2s ease-in forwards;
}

.lightspeed-fly-out-bottom-left {
  animation: fly-to-bottom-left 2s ease-in forwards;
}

.lightspeed-fly-out-bottom-right {
  animation: fly-to-bottom-right 2s ease-in forwards;
}

.lightspeed-fly-in-top-left {
  animation: fly-from-top-left 2s ease-out forwards;
}

.lightspeed-fly-in-top-right {
  animation: fly-from-top-right 2s ease-out forwards;
}

.lightspeed-fly-in-bottom-left {
  animation: fly-from-bottom-left 2s ease-out forwards;
}

.lightspeed-fly-in-bottom-right {
  animation: fly-from-bottom-right 2s ease-out forwards;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.6rem;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  button,
  a,
  p,
  blockquote,
  li {
    font-size: 1.2rem;
  }
  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  ul {
    margin-top: 6px;
    margin-bottom: 6px;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  button,
  blockquote,
  a,
  p,
  li {
    font-size: 1rem;
  }
  p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  ul {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

#info-container-section {
  z-index: 50;
  height: 100%;
  width: 100%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

/** Slide Out Underline  **/

.slide-underline {
  position: relative;
  overflow: hidden;
}

.slide-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  /* background-color: var(--red-800); */
  background-color: var(--green-100);
  opacity: 0;
  transition:
    opacity 50ms,
    transform var(--transition-duration);
  z-index: 200;
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.slide-underline:hover::after,
.slide-underline:focus::after {
  opacity: 0.6;
  transform: translate3d(0, 0, 0);
}

/** -----------------------  SILENCE SWITCH ------------------------------- **/

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border: 1px solid var(--red-800); */
  box-shadow: 0 0 4px from var(--red-800) / l c h 0.8;
  background-color: oklch(from var(--red-800) 90% calc(c / 0.5) h);
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -1px;
  top: 0px;
  background-color: var(--red-800);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: oklch(from var(--green-100) 60% c h);
}

/* input:focus + .slider {
  box-shadow: 0 0 1px var(--green-100);
} */

input:checked + .slider:before {
  -ms-transform: translateX(12px);
  transform: translateX(12px);
  background-color: oklch(from var(--green-100) 93% c h);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#main-silence-btn {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.silenced,
.unsilenced {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.silenced.active,
.unsilenced.active {
  display: block;
}

.silenced.active {
  filter: grayscale(100%);
}

#desktop-circuit-board-overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#desktop-side-decoration {
  --color-one: var(--green-100);
  --color-two: var(--pink-700);
  --color-three: var(--red-400);
  --color-four: var(--green-900);
  --color-five: var(--pink-400);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 700;
  stroke: var(--pink-800);
  filter: url(#neon-outline);
  animation: neon-color-change 20s infinite ease-in-out;
}
