.color-palette {
  --color: var(--red) !important;
  --color-muted: oklch(from var(--color) l calc(c * 0.4) h) !important;
  --color-vibrant: oklch(from var(--color) l 0.3 h) !important;
  --color-light: oklch(from var(--color) 0.9 c h) !important;
  --color-dark: oklch(from var(--color) 0.3 c h) !important;
}

/* RED PALETTE */
.color-palette.red {
  --color: var(--red) !important;
  --color-muted: oklch(0.64 0.116 26) !important;
  --color-vibrant: oklch(0.64 0.3 26) !important;
  --color-light: oklch(0.9 0.29 26) !important;
  --color-dark: oklch(0.3 0.29 26) !important;
}

/* GREEN PALETTE */
.color-palette.green {
  --color: var(--green) !important;
  --color-muted: oklch(0.74 0.128 145) !important;
  --color-vibrant: oklch(0.74 0.3 145) !important;
  --color-light: oklch(0.9 0.32 145) !important;
  --color-dark: oklch(0.3 0.32 145) !important;
}

/* BLUE PALETTE */
.color-palette.blue {
  --color: var(--blue) !important;
  --color-muted: oklch(0.62 0.092 250) !important;
  --color-vibrant: oklch(0.62 0.3 250) !important;
  --color-light: oklch(0.9 0.23 250) !important;
  --color-dark: oklch(0.3 0.23 250) !important;
}

/* PINK PALETTE */
.color-palette.pink {
  --color: var(--pink) !important;
  --color-muted: oklch(0.72 0.1 1) !important;
  --color-vibrant: oklch(0.72 0.3 1) !important;
  --color-light: oklch(0.9 0.25 1) !important;
  --color-dark: oklch(0.3 0.25 1) !important;
}

/* PURPLE PALETTE */
.color-palette.purple {
  --color: var(--purple) !important;
  --color-muted: oklch(0.55 0.1 300) !important;
  --color-vibrant: oklch(0.55 0.3 300) !important;
  --color-light: oklch(0.9 0.25 300) !important;
  --color-dark: oklch(0.3 0.25 300) !important;
}

/* CYAN PALETTE */
.color-palette.cyan {
  --color: var(--cyan) !important;
  --color-muted: oklch(0.72 0.064 190) !important;
  --color-vibrant: oklch(0.72 0.3 190) !important;
  --color-light: oklch(0.9 0.16 190) !important;
  --color-dark: oklch(0.3 0.16 190) !important;
}

/* YELLOW PALETTE - Note: normalize the format first */
.color-palette.yellow {
  --color: var(--yellow) !important;
  --color-muted: oklch(0.948 0.087 117.013) !important;
  --color-vibrant: oklch(0.948 0.3 117.013) !important;
  --color-light: oklch(0.9 0.21855 117.013) !important;
  --color-dark: oklch(0.3 0.21855 117.013) !important;
}

/* GREEN-YELLOW PALETTE */
.color-palette.green-yellow {
  --color: var(--green-yellow) !important;
  --color-muted: oklch(0.913 0.094 130.02) !important;
  --color-vibrant: oklch(0.913 0.3 130.02) !important;
  --color-light: oklch(0.9 0.2335 130.02) !important;
  --color-dark: oklch(0.3 0.2335 130.02) !important;
}
