/** **/
:root {
  /* --matrix-green-dark: oklch(0.6157 0.17656 148.3635);
  --matrix-green: oklch(0.8895 0.095 156.46);
  --extra-dark-green: oklch(0.5641 0.1852 143.54);
  --dark-red: oklch(0.2244 0.0876 28.18);
  --light-red: oklch(0.4472 0.158 26.44);
  --very-light-red: oklch(0.6738 0.2055 36.68); */
  --red-100: oklch(0.97 0.02 26);
  --red-200: oklch(0.92 0.05 26);
  --red-300: oklch(0.86 0.1 26);
  --red-400: oklch(0.79 0.15 26);
  --red-500: oklch(0.71 0.23 26);
  --red-700: oklch(0.64 0.29 26);
  --red-800: oklch(0.56 0.25 26);
  --red-900: oklch(0.37 0.17 26);
  --green-100: oklch(0.96 0.14 145);
  --green-200: oklch(0.89 0.23 145);
  --green-300: oklch(0.81 0.35 145);
  --green-400: oklch(0.74 0.32 145);
  --green-500: oklch(0.66 0.28 145);
  --green-700: oklch(0.59 0.25 145);
  --green-800: oklch(0.52 0.22 145);
  --green-900: oklch(0.35 0.15 145);
  --blue-100: oklch(0.97 0.02 250);
  --blue-200: oklch(0.92 0.05 250);
  --blue-300: oklch(0.85 0.09 250);
  --blue-400: oklch(0.78 0.13 250);
  --blue-500: oklch(0.69 0.18 250);
  --blue-700: oklch(0.62 0.23 250);
  --blue-800: oklch(0.54 0.2 250);
  --blue-900: oklch(0.37 0.13 250);
  --pink-100: oklch(0.97 0.02 1);
  --pink-200: oklch(0.93 0.05 1);
  --pink-300: oklch(0.86 0.1 1);
  --pink-400: oklch(0.8 0.16 1);
  --pink-500: oklch(0.72 0.25 1);
  --pink-700: oklch(0.64 0.29 1);
  --pink-800: oklch(0.56 0.25 1);
  --pink-900: oklch(0.37 0.17 1);
}
