.alien-sidekick {
  position: absolute;
  bottom: -220px;
  right: 0;
  z-index: 100;
  max-height: 20vh;
  opacity: 1;
}

@media (max-width: 700px) {
  .alien-sidekick {
    max-height: 15vh;
  }
}
#alien-info {
  position: absolute;
  bottom: 40%;
  /* top: -30vh; */
  left: calc(50% - 125vw);
  right: calc(1% - 50vw);
  /* right: 1%; */
  max-height: 50vw;
  width: 20vw;
  padding: 2px;
  display: flex;
  z-index: 100;
  border: 1px solid var(--light-red);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 20px 0px var(--light-red),
    0 0 10px oklch(from var(--light-red) / l c h 0.8);
}

.info-content > h2 {
  margin: 0;
}

.info-content {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
  flex: 1;
  padding: 16px 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-content-text {
  line-height: 2.2rem;
}
.info-content-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.title-text {
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  #alien-info {
    position: absolute;
    border: none;
    top: auto;
    bottom: -300px;
    background: rgb(34, 0, 34);
    padding: 2px;
    display: flex;
    z-index: 100;
    width: 70vw;
    left: 5vw;
  }
  .info-content-text {
    line-height: 1.2rem;
  }
  .info-content {
    border: none;
    border-radius: 10px;
    padding: 8px 6px;
    padding-right: 20px;
    min-height: 30px;
  }
}

#proceed-btn {
  visibility: hidden;
}
#proceed-btn.active {
  visibility: visible;
}
