#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.space-scene-video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}
#star-space-scene .portrait {
  display: none;
}
.space-scene-video.active {
  opacity: 1;
  visibility: visible;
}

#scene-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 200;
  background: rgba(0, 0, 0, 0.8);
  padding: 16px 10px 16px 16px;
  border-radius: 10px;
  border: 1px solid var(--light-red);
  box-shadow: 0 0 20px 0px var(--light-red), 0 0 10px rgba(255, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
  gap: 20px;
}

#scene-controls.active {
  display: flex;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.4);
}

.scene-control-row {
  padding: 2px;
  padding-left: 30px;
  display: flex;
  align-items: start;
}
.scene-control-row > label,
.scene-control-row > button {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  cursor: pointer;
  border: 1px solid var(--light-red);
  border-radius: 4px;
  padding-left: 16px;
  gap: 6px;
  font-size: 12px;
  color: var(--light-red);
  text-transform: uppercase;
  outline: 1px solid var(--light-red);
  outline-offset: 1px;
  box-shadow: 0 0 8px 0px var(--light-red),
    0 0 8px 0px oklch(from var(--light-red) l c h / 0.8);

  .scene-control-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 46px;
    width: 46px;
    border-radius: 300px;
    border: var(--light-red), solid 1px;
    transform: translate(-75%, -20%);
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2px;

    svg {
      fill: var(--light-red);
    }
  }
  .red-circle-for-btn {
    height: 16px;
    width: 16px;
    background-color: var(--light-red);
    border-radius: 300px;
  }
}
.scene-control-row > label:hover,
.scene-control-row > button:hover {
  color: var(--matrix-green);

  .red-circle-for-btn {
    background-color: var(--matrix-green);
  }
    .scene-control-icon {
          border: var(--matrix-green), solid 1px;

      svg {
        fill: var(--matrix-green);
      }
}

@media (max-width: 1000px) {
  #scene-controls {
    padding: 6px;
  }
}
@media (max-width: 600px) {
  #scene-controls {
    padding: 2px;
  }
}

/** Scene Controls **/

#mode-switcher {
  position: relative;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mode-switcher > svg {
  size: 70%;
  fill: none;
  stroke: var(--matrix-green-dark);
  transition: transform 0.5s ease-in-out;
  transform: rotate(90deg);
}
#mode-switcher.portrait > svg {
  transform: rotate(0deg);
}

#mode-switcher:hover > svg {
  stroke: var(--matrix-green);
}
#rotate-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rotate-icon svg {
  height: 28px;
  width: 28px;
  transform: rotate(90deg);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
#mode-switcher.portrait #rotate-icon svg {
  transform: rotate(0deg);
}

#rotate-icon path {
  stroke: var(--matrix-green);
  fill: var(--matrix-green);
}

#mode-switcher:hover #rotate-icon svg {
  opacity: 1;
}
