#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.space-scene-video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}
#star-space-scene .portrait {
  display: none;
}
.space-scene-video.active {
  opacity: 1;
  visibility: visible;
}

#scene-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 200;
  background: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--light-red);
  box-shadow: 0 0 20px 0px var(--light-red), 0 0 10px rgba(255, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  gap: 10px;
}
#scene-controls.active {
  display: block;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 1000px) {
  #scene-controls {
    padding: 6px;
  }
  #scene-controls.active {
  }
}

@media (max-width: 600px) {
  #scene-controls {
    padding: 2px;
  }
  #scene-controls.active {
  }
}

/** Scene Controls **/

#mode-switcher {
  position: relative;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#mode-switcher > svg {
  fill: none;
  stroke: var(--matrix-green-dark);
  transition: transform 0.5s ease-in-out;
  transform: rotate(90deg);
}
#mode-switcher.portrait > svg {
  transform: rotate(0deg);
}

#mode-switcher:hover > svg {
  stroke: var(--matrix-green);
}
#rotate-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#rotate-icon svg {
  height: 28px;
  width: 28px;
  transform: rotate(90deg);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
#mode-switcher.portrait #rotate-icon svg {
  transform: rotate(0deg);
}

#rotate-icon path {
  stroke: var(--matrix-green);
  fill: var(--matrix-green);
}

#mode-switcher:hover #rotate-icon svg {
  opacity: 1;
}
