.alien-sidekick {
  position: absolute;
  bottom: -220px;
  right: 0;
  z-index: 100;
  max-height: 20vh;
  opacity: 1;
}

@media (max-width: 700px) {
  .alien-sidekick {
    max-height: 15vh;
  }
}
.info-content > h2 {
  margin: 0;
}
.info-container {
  position: absolute;
  top: -30vh;
  left: calc(50% - 25vw);
  border-radius: 10px;
  border: 2px dashed rgb(145, 145, 99);
  max-height: 50vw;
  width: 50vw;
  background: rgb(34, 0, 34);
  padding: 2px;
  display: flex;
  z-index: 100;
}
.info-content {
  position: relative;
  border: 2px dashed rgb(145, 145, 99);
  background: black;
  flex: 1;
  border-radius: 10px;
  padding: 16px 20px;
  padding-right: 20px;
}
.info-content-text {
  line-height: 2rem;
}

.info-close-button {
  background-color: transparent;
  bottom: 2px;
  right: 2px;
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
  z-index: 101;
}

.title-text {
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .info-container {
    position: absolute;
    border: none;
    top: auto;
    bottom: -300px;
    background: rgb(34, 0, 34);
    padding: 2px;
    display: flex;
    z-index: 100;
    width: 70vw;
    left: 5vw;
  }
  .info-content-text {
    line-height: 1.2rem;
  }
  .info-content {
    border: none;
    border-radius: 10px;
    padding: 8px 6px;
    padding-right: 20px;
    min-height: 30px;
  }
}
