.bio-content.screen-content {
  display: flex;
  height: auto;
}
.bio-right-section > div > p {
  margin-top: 6px;
  margin-bottom: 6px;
}
.bio-portrait-section,
.bio-right-section {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.bio-right-section {
  align-items: start;
}
.full-body-image {
  width: 150%;
  margin: auto;
}

.body-scan-overlay {
  border-radius: 50px;
  overflow: hidden;
  /* border: 2px solid rgb(0, 31, 0); */
  aspect-ratio: 3 / 4.5;
  max-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 4px 0px var(--extra-dark-green),
    0 0 4px var(--extra-dark-green);
}

.space-between-row {
  display: flex;
  justify-content: space-between;
}
#display-bio > h3 {
  text-align: center;
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .body-scan-overlay {
    border-radius: 20px;
  }
  .bio-content.screen-content {
    padding: 6px;
  }
}
@media (max-width: 800px) {
  .body-scan-overlay {
    border-radius: 15px;
  }
  .bio-content.screen-content {
    padding: 2px;
  }
}
