.projects-button {
  position: absolute;
  bottom: 9%;
  left: 56%;
  width: 6%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(93, 187, 5, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 1;
  pointer-events: auto;
}
.projects-button:hover {
  background-color: rgba(93, 187, 5, 0.9);
}
.captains-log-button {
  position: absolute;
  bottom: 12%;
  left: 48%;
  width: 8%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(5, 199, 212, 0.5);
  z-index: 39;
  aspect-ratio: 8 / 4;
  pointer-events: auto;
}
.captains-log-button:hover {
  background-color: rgba(5, 199, 212, 0.9);
}
.acorn-button {
  position: absolute;
  bottom: 8%;
  left: 49%;
  width: 7%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(171, 5, 212, 0.5);
  z-index: 39;
  aspect-ratio: 2 / 0.8;
  pointer-events: auto;
}
.acorn-button:hover {
  background-color: rgba(171, 5, 212, 0.9);
}

/** Control buttons **/

.lightspeed-button {
  position: absolute;
  bottom: 10%;
  left: 39.5%;
  width: 5%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(187, 5, 81, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 0.8;
  pointer-events: auto;
}
.lightspeed-button:hover {
  background-color: rgba(245, 6, 6, 0.8);
}

.svg-control-tooltips {
  position: absolute;
  pointer-events: auto;
  z-index: 100;
}
#lightspeed-btn {
  border: 2px dashed yellow;
  anchor-name: --profile-button;
}

#lightspeed-btn-svg {
  position-anchor: --profile-button;

  bottom: anchor(top);
  right: anchor(right);
  position: absolute;
  pointer-events: auto;
  z-index: 100;
  height: 30%;
  transform: translate(-12%, 0%);
}

#lightspeed-btn-svg > g {
  stroke: var(--matrix-green);
  stroke-width: 2;
  fill: none;
  transition: stroke-dashoffset 0.6s ease-in-out;
}

#lightspeed-btn-svg > g {
  stroke-dasharray: 442;
  stroke-dashoffset: 442;
}
#lightspeed-btn-svg > text {
  fill: var(--matrix-green);
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s 0.6s;
  font-size: 24px;
  text-decoration: underline;
  text-underline-offset: 2px;
  shape-rendering: crispEdges;
  text-rendering: geometricPrecision;
}
/* Changing visisbility on hover*/
#lightspeed-btn:hover + #lightspeed-btn-svg > g {
  stroke-dashoffset: 0;
}
#lightspeed-btn:hover + #lightspeed-btn-svg > text {
  visibility: visible;
  opacity: 1;
}
/* Changing visisbility manually */
#lightspeed-btn + #lightspeed-btn-svg.active > g {
  stroke-dashoffset: 0;
}
#lightspeed-btn + #lightspeed-btn-svg.active > text {
  visibility: visible;
  opacity: 1;
}

.about-button {
  position: absolute;
  bottom: 17.5%;
  left: 40%;
  width: 3%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(21, 44, 250, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 1;
  pointer-events: auto;
}
.about-button:hover {
  background-color: rgba(21, 44, 250, 0.8);
}

.one-button {
  position: absolute;
  bottom: 1%;
  left: 40%;
  width: 19%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(250, 132, 21, 0.5);
  z-index: 39;
  aspect-ratio: 6 / 1;
  pointer-events: auto;
}
.one-button:hover {
  background-color: rgba(250, 132, 21, 0.8);
}
