@keyframes terminalFlicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

#spaceship-monitor {
  position: absolute;
  bottom: 2%;
  left: 61%;
  width: 14%;
  cursor: pointer;
  opacity: 1;
  background-color: black;
  z-index: 39;
  aspect-ratio: 1/ 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
#spaceship-content {
  color: var(--matrix-green);
  padding: 14px;
  display: none;
}

#spaceship-monitor > img {
  pointer-events: auto;
  opacity: 0.8;
}
.spaceship-2 {
  transform: rotate(25deg);
  display: none;
}
.spaceship-2.active {
  display: block;
}
.spaceship-monitor > img:hover {
  opacity: 1;
}

.display-content,
.display-content {
  visibility: hidden;
  position: relative;
  opacity: 0;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}
.display-content.active {
  visibility: visible;
  opacity: 1;
}

.screen-content {
  border: 2px dotted var(--matrix-green);
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

.screen-content > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
  line-height: 2em;
}

ul > li {
  animation: terminalFlicker 0.1s infinite linear alternate;
  cursor: pointer;
}

ul > li::marker {
  content: "";
}

ul > li::before {
  background-color: var(--matrix-green);
}

.screen-content .links-section {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.screen-content .links-section > a {
  color: var(--matrix-green);
}

.cephadex-content p,
.swift-swatch-content p,
.cognaite-content p,
.chair-the-fed-content p,
.ai-story-tellers-content p {
  margin: 5px 0;
  line-height: 1.4;
}

.monitor-content {
  display: none;
  max-width: 100%;
}
.monitor-content.active {
  display: block;
}

/** Radar 
https://codepen.io/thebabydino/pen/AqbWeE
**/

#radar-container {
  position: absolute;
  bottom: 0.5%;
  left: 25%;
  width: 11%;
  aspect-ratio: 1 / 1;
}

.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
}
.sweep {
  box-sizing: border-box;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px) {
  .screen-content > ul {
    margin-left: 10px;
  }

  .screen-content {
    line-height: 1.2em;
  }
  .screen-content > ul {
    line-height: 1.2em;
  }
  .projects-content .content {
    border: 1px dotted var(--matrix-green);
    padding: 2px 10px;
    border-radius: 10px;
  }
  .content > p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@media (max-width: 650px) {
  .screen-content > ul {
    margin-left: 0px;
  }

  .screen-content {
    line-height: 1em;
  }
  .screen-content > ul {
    line-height: 1em;
  }
  .screen-content > ul > li {
    line-height: 1em;
  }
}
