@keyframes terminalFlicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}

.projects-button {
  position: absolute;
  bottom: 9%;
  left: 56%;
  width: 6%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(93, 187, 5, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 1;
  pointer-events: auto;
}
.projects-button:hover {
  background-color: rgba(93, 187, 5, 0.9);
}
.captains-log-button {
  position: absolute;
  bottom: 12%;
  left: 48%;
  width: 8%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(5, 199, 212, 0.5);
  z-index: 39;
  aspect-ratio: 8 / 4;
  pointer-events: auto;
}
.captains-log-button:hover {
  background-color: rgba(5, 199, 212, 0.9);
}
.acorn-button {
  position: absolute;
  bottom: 8%;
  left: 49%;
  width: 7%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(171, 5, 212, 0.5);
  z-index: 39;
  aspect-ratio: 2 / 0.8;
  pointer-events: auto;
}
.acorn-button:hover {
  background-color: rgba(171, 5, 212, 0.9);
}

.lightspeed-button {
  position: absolute;
  bottom: 10%;
  left: 39.5%;
  width: 5%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(187, 5, 81, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 0.8;
  pointer-events: auto;
}
.lightspeed-button:hover {
  background-color: rgba(245, 6, 6, 0.8);
}
.about-button {
  position: absolute;
  bottom: 17.5%;
  left: 40%;
  width: 3%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(21, 44, 250, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 1;
  pointer-events: auto;
}
.about-button:hover {
  background-color: rgba(21, 44, 250, 0.8);
}

.one-button {
  position: absolute;
  bottom: 1%;
  left: 40%;
  width: 19%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(250, 132, 21, 0.5);
  z-index: 39;
  aspect-ratio: 6 / 1;
  pointer-events: auto;
}
.one-button:hover {
  background-color: rgba(250, 132, 21, 0.8);
}

.spaceship-monitor {
  position: absolute;
  bottom: 2%;
  left: 61%;
  width: 14%;
  cursor: pointer;
  opacity: 1;
  background-color: black;
  z-index: 39;
  aspect-ratio: 1/ 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spaceship-content {
  color: var(--matrix-green);
  padding: 14px;
  font-size: 12px;
  display: none;
}

.spaceship-monitor > img {
  pointer-events: auto;
  max-height: 7vw;
  opacity: 0.8;
}
.spaceship-2 {
  transform: rotate(25deg);
  display: none;
}
.spaceship-2.active {
  display: block;
}
.spaceship-monitor > img:hover {
  opacity: 1;
}

#spaceship-display {
  position: absolute;
  display: block;
  top: 2%;
  left: 14%;
  max-height: 0;
  width: 72%;
  opacity: 1;
  background-color: black;
  z-index: 38;
  overflow: hidden;
  aspect-ratio: 1 / 0.8;
  clip-path: polygon(12% 0, 88% 0, 100% 16%, 88% 74%, 13% 74%, 0 18%);
  transition: max-height 0.7s ease-in-out, opacity 0.4s ease-in-out;
}
#spaceship-display.open {
  max-height: 100vh;
  opacity: 1;
  pointer-events: auto;
}

.front-screen-content {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 68%;
  z-index: 39;
  color: var(--matrix-green);
  pointer-events: auto;
  background-color: black;
}

.display-content,
.display-content {
  display: none;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.display-content.active {
  display: block;
  opacity: 1;
}

.bio-content.screen-content {
  display: flex;
  width: 100%;
}

.front-screen-projects > h3 {
  padding-top: 20px;
  text-align: center;
  animation: terminalFlicker 0.1s infinite linear alternate;
}

.screen-content {
  border: 2px dotted var(--matrix-green);
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

.screen-content {
  line-height: 1.5em;
}
.screen-content > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
  line-height: 2em;
}

ul > li {
  animation: terminalFlicker 0.1s infinite linear alternate;
  cursor: pointer;
}

ul > li::marker {
  content: "";
}

ul > li::before {
  background-color: var(--matrix-green);
}

.screen-content .links-section {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.screen-content .links-section > a {
  color: var(--matrix-green);
}

.cephadex-content p,
.swift-swatch-content p,
.cognaite-content p,
.chair-the-fed-content p,
.ai-story-tellers-content p {
  margin: 5px 0;
  line-height: 1.4;
}

.monitor-content {
  display: none;
}
.monitor-content.active {
  display: block;
}

@media (max-width: 1100px) {
  .front-screen-projects > h3 {
    font-size: 20px;
  }
  .screen-content > ul {
    margin-left: 10px;
  }
  .screen-content {
    font-size: 12px;
  }
  .screen-content {
    line-height: 1.2em;
  }
  .screen-content > ul {
    line-height: 1.2em;
  }
  .projects-content .content {
    border: 1px dotted var(--matrix-green);
    padding: 2px 10px;
    border-radius: 10px;
  }
  .content > p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@media (max-width: 650px) {
  .front-screen-projects > h3 {
    font-size: 16px;
  }
  .screen-content > ul {
    margin-left: 0px;
  }
  .screen-content {
    font-size: 8px;
  }
  .screen-content {
    line-height: 1em;
  }
  .screen-content > ul {
    line-height: 1em;
  }
  .screen-content > ul > li {
    line-height: 1em;
  }
}

/** Radar 
https://codepen.io/thebabydino/pen/AqbWeE
**/

.radar-container {
  position: absolute;
  bottom: 0.5%;
  left: 25%;
  width: 11%;
  aspect-ratio: 1 / 1;
}

.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
}
.sweep {
  box-sizing: border-box;
  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
