/** Styles for the spaceship display containers/wrappers + ones common 
to all content, specific styles can be found in their appropriate stylesheet (bio.css, log.css...) **/

/******** MAIN DISPLAY DIV *****
Toggle it to increase the max-height and thus open the spaceship display
**/

#spaceship-display {
  position: absolute;
  display: block;
  top: 2%;
  left: 14%;
  max-height: 0;
  width: 72%;
  opacity: 1;
  background-color: black;
  z-index: 38;
  overflow: hidden;
  aspect-ratio: 1 / 0.8;
  clip-path: polygon(12% 0, 88% 0, 100% 16%, 88% 74%, 13% 74%, 0 18%);
  transition: max-height 0.7s ease-in-out, opacity 0.4s ease-in-out;
}
#spaceship-display.open {
  max-height: 100%;
  opacity: 1;
  pointer-events: auto;
}
#spaceship-display p {
  margin-top: 4px;
  margin-bottom: 4px;
}

/******** WRAPPER FOR DISPLAY CONTENT  *****
Content gets fetched and placed within this wrapper
**/

#display-content-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 68%;
  z-index: 39;
  color: var(--extra-dark-green);
  pointer-events: auto;
  background-color: black;
}

.display-title {
  padding-top: 20px;
  font-size: 2.8rem;
  text-align: center;
  animation: terminalFlicker 0.1s infinite linear alternate;
}

body[data-orientation="portrait"] {
  #spaceship-display {
    padding-top: 0px;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: calc(100dvh);
    max-height: 0;
    width: 100vw;
    max-width: 500px;
    opacity: 1;
    z-index: 20;
    overflow: hidden;
    aspect-ratio: auto;
    clip-path: none;
  }
  #spaceship-display.open {
    max-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }
  #spaceship-display p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  #display-content-container {
    margin-top: 7dvh;
    padding-left: 5px;
    padding-right: 5px;
    width: auto;
    max-width: 360px;
    height: 74dvh;
    @media (max-width: 500px) {
      max-width: 320px;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: 400px) {
      max-width: 300px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .display-title {
    font-size: 2rem;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.6rem;
    margin-top: 6px;
    margin-bottom: 6px;
  }
  button,
  a,
  p,
  blockquote,
  li {
    font-size: 1.2rem;
  }
  p {
    margin-top: 6px;
    margin-bottom: 6px;
  }
  ul {
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 0;
  }
}
