#log-prev,
#log-next {
  visibility: visible;
  opacity: 0.2;
  cursor: not-allowed;
}

#log-prev.active,
#log-next.active {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
#display-log {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#log-content-wrapper {
  position: relative;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#log-content {
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  width: 100%;
  z-index: 100;
}
#log-content-wrapper::before {
  content: "";
  box-shadow: inset 0 0 100px rgb(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}
#log-content::-webkit-scrollbar {
  width: 4px;
}

#log-content::-webkit-scrollbar-track {
  background: transparent;
}

#log-content::-webkit-scrollbar-thumb {
  background: rgba(166, 238, 193, 0.3);
  border-radius: 4px;
}

#log-content::-webkit-scrollbar-thumb:hover {
  background: var(--matrix-green);
}

#stardate,
#log-entry-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

#display-log-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#display-log-header > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#log-control {
  align-self: self-end;
}
#log-control a {
  align-self: self-end;
}

#display-log-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.wp-block-quote {
  width: 100%;
  display: flex;
  justify-content: center;
}
.wp-block-verse {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#log-content > h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.8rem;
}
