@keyframes electrical-pulse {
  0% {
    stroke-dashoffset: 1062;
    opacity: 0.9;
  }
  49% {
    stroke-dashoffset: 530;
    opacity: 0.9;
  }
  49.5% {
    stroke-dashoffset: -1046;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: -1046;
    opacity: 0;
  }
}

@keyframes electrical-pulse-bottom {
  0% {
    stroke-dashoffset: 457;
    opacity: 0;
  }
  1% {
    stroke-dashoffset: 457;
    opacity: 0.9;
  }
  49% {
    stroke-dashoffset: 0;
    opacity: 0.9;
  }
  49.5% {
    stroke-dashoffset: -457;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: -457;
    opacity: 0;
  }
}
@keyframes electrical-pulse-top {
  0% {
    stroke-dashoffset: 426;
    opacity: 0;
  }
  1% {
    stroke-dashoffset: 426;
    opacity: 0.9;
  }
  49% {
    stroke-dashoffset: 0;
    opacity: 0.9;
  }
  49.5% {
    stroke-dashoffset: -426;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: -426;
    opacity: 0;
  }
}

body[data-orientation="portrait"] {
  background-color: black;

  .wrapper {
    aspect-ratio: auto;
    height: 100dvh;
    width: 100vw;
    max-width: 500px;
  }

  #spaceship-interior-background {
    display: none;
  }
  #spaceship-interior {
    display: none;
  }

  #mobile-spaceship-interior {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 500px;
<<<<<<< HEAD
=======

>>>>>>> saved-animation-work
    height: 160px;
    background-color: black;
  }
  #mobile-control-pannel {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 500px;

    height: 160px;
    max-width: 500px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    z-index: 400;
  }

  #spaceship-monitor {
    position: relative;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    border: 1px solid var(--light-red);
    box-shadow: inset 0 0 10px 0px var(--light-red),
      0 0 10px rgba(255, 0, 0, 0.8);
    align-self: center;
    bottom: auto;
    left: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #radar-container {
    z-index: 300;
    border-radius: 100px;
    position: relative;
    width: 80px;
    bottom: auto;
    left: auto;
    aspect-ratio: 1 / 1;
    border: 1px solid var(--light-red);
    box-shadow: inset 0 0 10px 0px var(--light-red),
      0 0 10px rgba(255, 0, 0, 0.8);
    align-self: center;
    margin-left: auto;
    margin-right: auto;
  }
  #control-btn-pannel {
    position: relative;
    margin: auto;
    width: 150px;
    height: 100%;
    anchor-name: --control-pannel;
  }
  .control-btn {
    border: 1px solid grey;
    box-shadow: inset 0 0 2px 0px var(--matrix-green-dark),
      0 0 4px rgba(16, 34, 0, 0.8);
    border-radius: 6px;
    background-color: rgb(0, 0, 0);
  }
  #control-one {
    position-anchor: --control-pannel;
    bottom: calc(anchor(bottom) + 10px);
    left: anchor(left);
    width: 150px;
    height: 40px;
    transform: translate(0, 0);
    background-color: rgb(0, 0, 0);
  }
  #control-log {
    position-anchor: --control-pannel;
    bottom: calc(anchor(bottom) + 110px);
    right: anchor(right);
    transform: translate(0, 0);
    width: 67.5px;
    left: auto;
    height: 40px;
    aspect-ratio: auto;
    background-color: rgb(0, 0, 0);
  }
  #control-bio {
    position-anchor: --control-pannel;
    bottom: calc(anchor(bottom) + 60px);
    left: anchor(left);
    width: 40px;
    transform: translate(0, 0);
    background-color: rgb(0, 0, 0);
  }
  #control-acorn {
    position-anchor: --control-pannel;
    bottom: calc(anchor(bottom) + 60px);
    left: calc(anchor(left) + 55px);
    right: auto;
    width: 40px;
    aspect-ratio: 1 / 1;
    transform: translate(0, 0);
    background-color: rgb(0, 0, 0);
  }
  #control-projects {
    position-anchor: --control-pannel;
    bottom: calc(anchor(bottom) + 60px);
    left: auto;
    right: anchor(right);
    transform: translate(0, 0);
    width: 40px;
    background-color: rgb(0, 0, 0);
  }
  #lightspeed-btn {
    position-anchor: --control-pannel;
    bottom: calc(anchor(bottom) + 110px);
    left: anchor(left);
    transform: translate(0, 0);
    width: 67.5px;
    right: auto;
    height: 40px;
    aspect-ratio: auto;
    background-color: rgb(0, 0, 0);
  }
  .control-btn > svg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    stroke: rgb(95, 110, 96);
    width: 100%;
    height: 40px;
    stroke-width: 2px;
  }

  .control-btn:hover > svg {
    stroke: rgb(1, 139, 1);
  }

  #spaceship-display {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: calc(100dvh - 160px);
    max-height: 0;
    width: 100vw;
    max-width: 500px;

    opacity: 1;
    background-color: black;
    z-index: 38;
    overflow: hidden;
    aspect-ratio: auto;
    clip-path: none;

    /* clip-path: polygon(12% 0, 88% 0, 100% 16%, 88% 74%, 13% 74%, 0 18%); */
  }
  #spaceship-display.open {
    padding-top: 56px;
    max-height: 100%;
    opacity: 1;
    pointer-events: auto;
  }
  #display-content-container {
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    max-width: 300px;
    height: calc(100dvh - 250px);
  }
  #mobile-spaceship-overlay {
    position: absolute;
<<<<<<< HEAD
    bottom: 160px;
    width: 100vw;
    max-width: 500px;

    height: calc(100dvh - 160px);
    z-index: 300;
  }
  #mobile-spaceship-overlay > svg {
    position: absolute;
=======
>>>>>>> saved-animation-work
    bottom: 0;
    width: 100vw;
    max-width: 500px;
    height: calc(100dvh);
    z-index: 300;
  }
  #mobile-spaceship-overlay-outline {
    stroke-width: 1px;
    stroke: rgb(168, 98, 98);
  }
  #mobile-spaceship-overlay-mask {
    fill: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    stroke: var(--light-red);
  }
  #mobile-side-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    stroke: var(--light-red);
  }
  #alien-info {
    bottom: 10px;
    right: auto;
    left: 0;
  }
  .info-content-buttons {
    justify-content: start;
  }
  #proceed-btn {
    order: 1;
  }

  #info-close-button {
    order: -1;
  }

  .vector {
    stroke: #b45b38;
    stroke-width: 2;
    filter: drop-shadow(0 0 4px red) drop-shadow(0 0 8px red);
  }
  .side-vector-animation,
  .bottom-vector-animation,
  .top-vector-animation {
    stroke: #f72d1f;
    stroke-width: 2;
    stroke-linecap: round;
    filter: drop-shadow(0 0 10px rgb(122, 18, 0))
      drop-shadow(0 0 10px rgb(133, 15, 0));
  }

  .side-vector-animation {
    stroke-dasharray: 10 1036;
    stroke-dashoffset: 1000;
    animation: electrical-pulse 4s linear infinite;
  }
  .side-vector-animation.left {
    animation-delay: 0s;
  }
  .side-vector-animation.right {
    animation-delay: -1.5s;
  }

  .bottom-vector-animation {
    stroke-dasharray: 10 457;
    stroke-dashoffset: 457;
    animation: electrical-pulse-bottom 4s linear infinite;
  }

  .bottom-vector-animation.upper {
    animation-delay: -0.5s;
  }

  .bottom-vector-animation.lower {
    animation-delay: -2.5s;
  }

  .top-vector-animation {
    stroke-dasharray: 10 426;
    stroke-dashoffset: 426;
    animation: electrical-pulse-top 4s linear infinite;
  }

  #scene-controls {
    top: auto;
    bottom: 130px;
    left: 20px;
    padding: 1px;
    border: 1px solid var(--dark-red);
    box-shadow: 0 0 10px 0px var(--dark-red), 0 0 5px rgba(255, 0, 0, 0.8);
  }
  #mode-switcher {
    height: 40px;
    width: 40px;
  }
}
