body[data-orientation="portrait"] {
  background-color: black;

  .wrapper {
    aspect-ratio: none;
    height: 100vh;
    width: 100vw;
  }

  #starfield {
    height: 100vh;
    width: 100vw;
  }
  #spaceship-interior-background {
    display: none;
  }
  #spaceship-interior {
    display: none;
  }
}
