#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.space-scene-video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}

.space-scene-video.active {
  opacity: 1;
  visibility: visible;
}

#scene-controls {
  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 200;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--light-red);
  box-shadow: 0 0 20px 0px var(--light-red), 0 0 10px rgba(255, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  /* display: none;
  opacity: 0; */
  transition: opacity 1s ease-in-out;
}
#scene-controls.active {
  display: block;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.4);
}
