#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.space-scene-video {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
}
