#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.space-scene-video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}

.space-scene-video.active {
  opacity: 1;
  visibility: visible;
}
