/** **/
:root {
  --matrix-green: rgba(0, 160, 65);
  --matrix-green: rgb(166, 238, 193);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  h1 {
    max-width: 800px;
    text-align: center;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(0.4);
  }
}
@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 15px 5px rgba(252, 4, 177, 0.4);
  }
  50% {
    box-shadow: 0 0 25px 10px rgba(223, 6, 24, 0.7);
  }
  100% {
    box-shadow: 0 0 15px 5px rgba(250, 130, 93, 0.4);
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes terminalFlicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.95;
  }
}
.wrapper {
  background-color: black;
  width: 100%;
  max-width: calc(100vh * 16 / 9); /* Maintains 16:9 when height-constrained */
  max-height: 100vh;
  margin: auto;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

#fade-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background-color: black;
  opacity: 1;
  pointer-events: all;
}

/* #space-scene-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

} */

/** ------!!!!!! ------------------------ LAYER 1 ---------------------!!!!!!!----------**/

#starfield {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#space-elements-section {
  z-index: 30;
}

.black-hole {
  position: absolute;
  bottom: 12%;
  left: 72%;
  transform: translate(-50%, -50%) rotate(10deg);
  pointer-events: auto;
}

.black-hole > img {
  max-height: 12vw;
  opacity: 0.3;
}

.asteroid {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 31;
  opacity: 0.8;
  pointer-events: auto;
}
.asteroid > img {
  max-width: 8vw;
}

.asteroid {
  .end {
    display: none;
    opacity: 0.8;
  }
}

.star {
  position: absolute;
  top: 4%;
  left: 20%;
  pointer-events: auto;
}
.star > img {
  max-width: 8vw;
  opacity: 0.2;
  animation: spin 10s linear infinite;
}

.planet {
  position: absolute;
  bottom: -20%;
  left: -20%;
  max-width: 40vw;
  z-index: 30;
  pointer-events: auto;
}
.planet > img {
  max-width: 40vw;
  transform: rotate(0deg);
  opacity: 0.4;
}

.spacewhale {
  position: absolute;
  bottom: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  pointer-events: auto;
}

.spacewhale > img {
  max-width: 12vw;
  animation: pulse 10s linear infinite alternate;
}

.satellite {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: auto;
}

.satellite > img {
  max-height: 8vw;
  animation: spin 30s linear infinite;
  opacity: 0.6;
}

.spacestation {
  position: absolute;
  top: 20%;
  right: 10%;
  transform: translate(-50%, -50%) rotate(15deg);
  pointer-events: auto;
}

.spacestation > img {
  max-height: 10vw;
  animation: pulse 10s linear infinite alternate;
}

img:hover {
  opacity: 1;
  cursor: pointer;
  animation: none;
}
.satellite > img:hover {
  animation: spin 30s linear infinite;
  opacity: 1;
}
.star > img:hover {
  opacity: 1;
  animation: spin 30s linear infinite;
}

/** ----!!!!!!!!--------------------  LAYER 2 -------------------------!!!!!!!!-----**/

.space-scene-video {
  position: absolute;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
}

/** -----!!!!!------------------- INTERIOR LAYER 3 -------------------------!!!!!-----**/

#interior-sections {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/** ------------------------ SPACESHIP INTERIOR ------------------------------**/

#spaceship-interior-section {
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spaceship-interior {
  background-size: cover;
  background-position: center;
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spaceship-interior {
  opacity: 1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-image: url("../images/space/pilots_seat_1.png");
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.spaceship-interior-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 38;
  background-image: url("../images/space/pilots_seat_background.png");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  opacity: 1;
}
.btn {
  cursor: pointer;
}
.projects-button {
  position: absolute;
  bottom: 9%;
  left: 56%;
  width: 6%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(93, 187, 5, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 1;
  pointer-events: auto;
}
.projects-button:hover {
  background-color: rgba(93, 187, 5, 0.9);
}
.captains-log-button {
  position: absolute;
  bottom: 12%;
  left: 48%;
  width: 8%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(5, 199, 212, 0.5);
  z-index: 39;
  aspect-ratio: 8 / 4;
  pointer-events: auto;
}
.captains-log-button:hover {
  background-color: rgba(5, 199, 212, 0.9);
}
.acorn-button {
  position: absolute;
  bottom: 8%;
  left: 49%;
  width: 7%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  opacity: 1;
  background-color: rgba(171, 5, 212, 0.5);
  z-index: 39;
  aspect-ratio: 2 / 0.8;
  pointer-events: auto;
}
.acorn-button:hover {
  background-color: rgba(171, 5, 212, 0.9);
}

.lightspeed-button {
  position: absolute;
  bottom: 10%;
  left: 39.5%;
  width: 5%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(187, 5, 81, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 0.8;
  pointer-events: auto;
}
.lightspeed-button:hover {
  background-color: rgba(245, 6, 6, 0.8);
}
.about-button {
  position: absolute;
  bottom: 17.5%;
  left: 40%;
  width: 3%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(21, 44, 250, 0.5);
  z-index: 39;
  aspect-ratio: 1 / 1;
  pointer-events: auto;
}
.about-button:hover {
  background-color: rgba(21, 44, 250, 0.8);
}

.one-button {
  position: absolute;
  bottom: 1%;
  left: 40%;
  width: 19%;
  cursor: pointer;
  opacity: 1;
  background-color: rgba(250, 132, 21, 0.5);
  z-index: 39;
  aspect-ratio: 6 / 1;
  pointer-events: auto;
}
.one-button:hover {
  background-color: rgba(250, 132, 21, 0.8);
}

.spaceship-monitor {
  position: absolute;
  bottom: 2%;
  left: 61%;
  width: 14%;
  cursor: pointer;
  opacity: 1;
  background-color: black;
  z-index: 39;
  aspect-ratio: 1/ 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spaceship-content {
  color: var(--matrix-green);
  padding: 14px;
  font-size: 12px;
  display: none;
}

.spaceship-monitor > img {
  pointer-events: auto;
  max-height: 7vw;
  opacity: 0.8;
}
.spaceship-2 {
  transform: rotate(25deg);
  display: none;
}
.spaceship-2.active {
  display: block;
}
.spaceship-monitor > img:hover {
  opacity: 1;
}
/** ------------------------- INTERIORS GENERAL ----------------------**/
#spacestation-interior-section {
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spacestation-interior {
  background-size: cover;
  background-position: center;
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#spaceship-display {
  position: absolute;
  display: block;
  top: 2%;
  left: 14%;
  max-height: 0;
  width: 72%;
  opacity: 1;
  background-color: black;
  z-index: 38;
  overflow: hidden;
  aspect-ratio: 1 / 0.8;
  clip-path: polygon(12% 0, 88% 0, 100% 16%, 88% 74%, 13% 74%, 0 18%);
  transition: max-height 0.7s ease-in-out, opacity 0.4s ease-in-out;
}
#spaceship-display.open {
  max-height: 100vh;
  opacity: 1;
  pointer-events: auto;
}

.front-screen-content {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 68%;
  z-index: 39;
  color: var(--matrix-green);
  pointer-events: auto;
  background-color: black;
}

.display-content,
.display-content {
  display: none;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.display-content.active {
  display: block;
  opacity: 1;
}

.bio-content.screen-content {
  display: flex;
  width: 100%;
}
.bio-portrait-section,
.bio-right-section {
  flex: 1;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.bio-right-section {
  align-items: start;
}

.full-body-image {
  width: 150%;
  margin: auto;
}

.body-scan-overlay {
  border-radius: 50px;
  overflow: hidden;
  border: 2px solid rgb(59, 2, 2);
  aspect-ratio: 3 / 4.5;
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.front-screen-projects > h3 {
  padding-top: 20px;
  text-align: center;
  animation: terminalFlicker 0.1s infinite linear alternate;
}

.screen-content {
  border: 2px dotted var(--matrix-green);
  height: 100%;
  padding: 10px;
  border-radius: 10px;
}

.screen-content {
  line-height: 1.5em;
}
.screen-content > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  justify-content: center;
  line-height: 2em;
}

ul > li {
  animation: terminalFlicker 0.1s infinite linear alternate;
  cursor: pointer;
}

ul > li::marker {
  content: "";
}

ul > li::before {
  background-color: var(--matrix-green);
}
.projects-list.active {
  padding-inline-start: 0px;
}

.projects-content .content {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.projects-content .content.active {
  display: block;
  opacity: 1;
}
.cephadex-content,
.swift-swatch-content,
.cognaite-content,
.chair-the-fed-content,
.ai-story-tellers-content,
.space-portfolio-content {
  padding: 20px 10px;
  border-radius: 10px;

  display: none;
  font-family: "Orbitron", monospace;
  color: var(--matrix-green);
  text-shadow: 0 0 5px var(--matrix-green);
  background: rgba(0, 0, 0, 0.9);
  animation: terminalFlicker 0.1s infinite linear alternate;
}

.screen-content .links-section {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.screen-content .links-section > a {
  color: var(--matrix-green);
}

.cephadex-content p,
.swift-swatch-content p,
.cognaite-content p,
.chair-the-fed-content p,
.ai-story-tellers-content p {
  margin: 5px 0;
  line-height: 1.4;
}

.cephadex-content a,
.swift-swatch-content a,
.cognaite-content a,
.chair-the-fed-content a,
.ai-story-tellers-content a {
  color: var(--matrix-green);
  text-decoration: underline;
  text-shadow: 0 0 5px var(--matrix-green);
}

.cephadex-content a:hover,
.swift-swatch-content a:hover,
.cognaite-content a:hover,
.chair-the-fed-content a:hover,
.ai-story-tellers-content a:hover {
  text-shadow: 0 0 10px var(--matrix-green);
  background: rgba(0, 160, 65, 0.1);
}
#projects-back-button {
  position: absolute;
  top: 40px;
  left: 20px;
  display: none;
  padding: 4px 8px;
  background-color: black;
  border: none;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  z-index: 30;
  cursor: pointer;
}

#projects-back-button > #arrow-left-solid {
  fill: var(--matrix-green);
  height: 30px;
  width: 30px;
}

.monitor-content {
  display: none;
}
.monitor-content.active {
  display: block;
}

@media (max-width: 1100px) {
  .front-screen-projects > h3 {
    font-size: 20px;
  }
  .screen-content > ul {
    margin-left: 10px;
  }
  .screen-content {
    font-size: 12px;
  }
  .screen-content {
    line-height: 1.2em;
  }
  .screen-content > ul {
    line-height: 1.2em;
  }
  .projects-content .content {
    border: 1px dotted var(--matrix-green);
    padding: 2px 10px;
    border-radius: 10px;
  }
  .content > p {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
@media (max-width: 650px) {
  .front-screen-projects > h3 {
    font-size: 16px;
  }
  .screen-content > ul {
    margin-left: 0px;
  }
  .screen-content {
    font-size: 8px;
  }
  .screen-content {
    line-height: 1em;
  }
  .screen-content > ul {
    line-height: 1em;
  }
  .screen-content > ul > li {
    line-height: 1em;
  }
  .cephadex-content,
  .swift-swatch-content,
  .cognaite-content,
  .chair-the-fed-content,
  .ai-story-tellers-content {
    border: 1px dotted var(--matrix-green);
    padding: 20px 10px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: none;
  }
}

/** ------------------------ SPACESTATION INTERIOR ------------------------------**/

.spacestation-interior::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/space/spacestation-interior.webp");
  background-size: cover;
  background-position: center;
  z-index: 20;
  pointer-events: none;
}
.spacestation-door {
  position: absolute;
  background-color: black;
  z-index: 19;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  display: inline-block;
}
.behind-door {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}
.cyan-door {
  top: 41%;
  left: 38%;
}
.spacestation-door > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-wrap: wrap;
  z-index: 2;
  top: 0;
  left: 0;
}
.spacestation-door > div > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spacestation-door.cyan-door {
  width: 5%;
}

.cyan-door > img {
  position: relative;
  z-index: 19;
  width: 100%;
  display: block;
  pointer-events: none;
}
.red-door {
  top: 41%;
  left: 47.3%;
}
.red-door > img {
  position: relative;
  z-index: 19;
  width: 100%;
  display: block;
  pointer-events: none;
}
.spacestation-door.red-door {
  width: 5.5%;
}
.yellow-door {
  top: 41%;
  left: 57.2%;
}
.yellow-door > img {
  position: relative;
  z-index: 19;
  width: 100%;
  display: block;
  pointer-events: none;
}
.spacestation-door.yellow-door {
  width: 5%;
}

/** ----!!!!!!!----------------------- LAYER 4 --------------------------!!!!!!!!----**/

#info-container-section {
  z-index: 50;
  height: 100%;
  width: 100%;
}

/** ------------------------ BACK BUTTON ------------------------------**/
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.back-button {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: none;
  line-height: 0;
  padding: 3px;
  border-radius: 20px;
  background: transparent;
}
.back-button::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 20px;
  background: conic-gradient(
    from var(--angle),
    rgb(216, 27, 2),
    rgb(71, 1, 1),
    rgb(245, 5, 5)
  );
  z-index: -1;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
}

.back-button > img {
  max-height: 80px;
  display: block;
}

@media (max-width: 700px) {
  .back-button > img {
    max-height: 40px;
  }
  .back-button {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.back-button:hover::before,
.back-button:focus-visible::before {
  background: conic-gradient(
    from var(--angle),
    rgb(235, 113, 31),
    rgb(71, 1, 1),
    rgb(245, 5, 5)
  );
  animation-play-state: running;
}

.back-button:hover,
.back-button:focus-visible {
  transform: translate(-50%, -50%) scale(1.05);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.screen-content {
  position: relative; /* Required for absolute positioning */
  border: 2px dotted var(--matrix-green);
  height: 100%;
  padding: 10px;
  background: black;
  margin: 5px;
  z-index: 1;
}

.screen-content::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: conic-gradient(
    from var(--angle),
    rgb(0, 17, 7),
    rgb(0, 17, 7),
    rgba(0, 160, 65),
    rgb(0, 17, 7),
    rgb(0, 17, 7)
  );
  border-radius: inherit;
  z-index: -2;
  animation: rotate 6s linear infinite;
}
.screen-content::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: black;
  z-index: -1;
  border-radius: inherit;
}

/** ------------------------ ALIEN SIDEKICK ------------------------------**/

.alien-sidekick {
  position: absolute;
  bottom: -220px;
  right: 0;
  z-index: 100;
}

.alien-sidekick > img {
  max-height: 20vh;
  opacity: 1;
}

@media (max-width: 700px) {
  .alien-sidekick > img {
    max-height: 15vh;
  }
}
.info-content > h2 {
  margin: 0;
}
.info-container {
  position: absolute;
  top: -30vh;
  left: calc(50% - 25vw);
  border-radius: 10px;
  border: 2px dashed rgb(145, 145, 99);
  max-height: 50vw;
  width: 50vw;
  background: rgb(34, 0, 34);
  padding: 2px;
  display: flex;
  z-index: 100;
}
.info-content {
  position: relative;
  border: 2px dashed rgb(145, 145, 99);
  background: black;
  flex: 1;
  border-radius: 10px;
  padding: 16px 20px;
  padding-right: 20px;
}
.info-content-text {
  font-size: 1.4rem;
  line-height: 2rem;
}

.info-close-button {
  background-color: transparent;
  bottom: 2px;
  right: 2px;
  position: absolute;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 22px;
  color: white;
  font-weight: bold;
  transition: all 0.2s ease;
  z-index: 101;
}

.title-text {
  color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 700px) {
  .title-text > h1 {
    font-size: 20px;
  }
  .info-container {
    position: absolute;
    border: none;
    top: auto;
    bottom: -300px;
    background: rgb(34, 0, 34);
    padding: 2px;
    display: flex;
    z-index: 100;
    width: 70vw;
    left: 5vw;
  }
  .info-content-text {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .info-content {
    border: none;
    border-radius: 10px;
    padding: 8px 6px;
    padding-right: 20px;
    min-height: 30px;
  }
}

/** Radar 
https://codepen.io/thebabydino/pen/AqbWeE
**/

.radar-container {
  position: absolute;
  bottom: 0.5%;
  left: 25%;
  width: 11%;
  aspect-ratio: 1 / 1;
}

.radar,
.sweep {
  position: absolute;
}
.radar {
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: repeating-radial-gradient(
      transparent 0 23px,
      #287a33 24px 26px,
      #0000 27px
    ),
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50%
      no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0)
      50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
}
.sweep {
  box-sizing: border-box;

  border-right: solid 1px hsla(145, 50%, 40%, 0.3);
  width: 50%;
  height: 50%;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(
    50deg,
    rgba(34, 34, 34, 0) 56%,
    hsla(145, 50%, 40%, 1)
  );
  animation: sweep 5s infinite linear;
}
@keyframes sweep {
  to {
    transform: rotate(360deg);
  }
}
