/** **/
:root {
  --matrix-green-dark: rgba(0, 160, 65);
  --matrix-green: rgb(166, 238, 193);
  --dark-red: rgb(59, 2, 2);
  --light-red:rgb(99, 25, 25);
}
button,
a,
blockquote {
  all: unset;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: black;
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  h1 {
    max-width: 800px;
    text-align: center;
  }
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse {
  from {
    transform: opacity(0);
  }
  to {
    transform: opacity(0.4);
  }
}
@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 15px 5px rgba(252, 4, 177, 0.4);
  }
  50% {
    box-shadow: 0 0 25px 10px rgba(223, 6, 24, 0.7);
  }
  100% {
    box-shadow: 0 0 15px 5px rgba(250, 130, 93, 0.4);
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
button,
a {
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
}
a {
  color: var(--matrix-green-dark);
}
a:hover {
  color: var(--matrix-green);
}

.btn {
  cursor: pointer;
  background-color: black;
  color: var(--matrix-green);
  border: 1px solid var(--matrix-green);
  border-radius: 4px;
  padding: 2px 6px;
}
.btn:hover {
  background-color: var(--matrix-green);
  color: black;
}

#back-btn {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
#back-btn.active {
  display: block;
  opacity: 1;
}
.wrapper {
  background-color: black;
  width: 100%;
  max-width: calc(100vh * 16 / 9);
  max-height: 100vh;
  margin: auto;
  aspect-ratio: 16 / 9;
  position: relative;
  overflow: hidden;
}

#fade-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 400;
  background-color: black;
  opacity: 1;
  pointer-events: all;
}

/** ------!!!!!! ------------------------ LAYER 1 ---------------------!!!!!!!----------**/
#space-elements {
  z-index: 30;
  visibility: hidden;
  opacity: 0;
  transition: opacity 2s ease-in-out, visibility 0s 2s;
}

#space-elements.active {
  visibility: visible;
  opacity: 1;
}
.space-element {
  position: absolute;
  pointer-events: auto;
  display: none;
  opacity: 0;
  cursor: pointer;
}
.space-element.active {
  display: block;
  opacity: 1;
}

#space-elements-section {
  z-index: 30;
  transition: opacity 2s ease-in-out;
  display: none;
  opacity: 0;
}

#space-elements-section.active {
  display: block;
  opacity: 1;
}

#space-black-hole {
  bottom: 12%;
  left: 72%;
  transform: translate(-50%, -50%) rotate(10deg);
  max-height: 12vw;
  opacity: 0.3;
}
#space-black-hole:hover {
  opacity: 1;
}
#asteroid {
  top: 0;
  right: 0;
  z-index: 31;
  opacity: 0.8;
}
#asteroid > img {
  max-width: 8vw;
}
#asteroid .initial {
  display: block;
  opacity: 0.8;
}
#asteroid .end {
  display: none;
  opacity: 0;
}
#asteroid .initial:hover,
#asteroid .end:hover {
  opacity: 1;
}
#asteroid .end.active {
  display: block;
  opacity: 1;
}
#star {
  top: 4%;
  left: 20%;
  max-width: 8vw;
  opacity: 0.2;
}
#star.animated {
  animation: spin 10s linear infinite;
}
#star:hover {
  animation: none;
  opacity: 1;
}
#red-planet {
  bottom: -20%;
  left: -20%;
  max-width: 40vw;
  z-index: 30;
  transform: rotate(0deg);
  opacity: 0.4;
}
#red-planet:hover {
  opacity: 1;
}
#space-whale {
  bottom: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
  max-width: 12vw;
}
#space-whale.animated {
  animation: pulse 10s linear infinite alternate;
}
#space-whale:hover {
  animation: none;
  opacity: 1;
}
#satellite {
  bottom: 0;
  right: 0;
  z-index: 30;
}
#satellite > img {
  max-height: 8vw;
  animation: spin 30s linear infinite;
  opacity: 1;
}
#satellite > img:hover {
  animation: none;
  opacity: 1;
}
#space-station {
  top: 20%;
  right: 10%;
  transform: translate(-50%, -50%) rotate(15deg);
  max-height: 10vw;
}
#space-station.animated {
  animation: pulse 10s linear infinite alternate;
}
#space-station:hover {
  animation: none;
  opacity: 1;
}

/** -----!!!!!------------------- INTERIOR LAYER 3 -------------------------!!!!!-----**/

#interior-sections {
  width: 100%;
  height: 100%;
  z-index: 10;
}

/** ------------------------ SPACESHIP INTERIOR ------------------------------**/

#spaceship-interior-section {
  opacity: 1;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 40;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spaceship-interior {
  background-size: cover;
  background-position: center;
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.spaceship-interior {
  opacity: 1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-image: url("../images/space/pilots_seat_1.png");
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.spaceship-interior-background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 38;
  background-image: url("../images/space/pilots_seat_background.png");
  background-size: cover;
  background-position: center;
  pointer-events: none;
  opacity: 1;
}
.btn {
  cursor: pointer;
}

#info-container-section {
  z-index: 50;
  height: 100%;
  width: 100%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}
@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.back-button {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: translate(-50%, -50%);
  z-index: 101;
  display: none;
  line-height: 0;
  padding: 3px;
  border-radius: 20px;
  background: transparent;
}
.back-button::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 20px;
  background: conic-gradient(
    from var(--angle),
    rgb(216, 27, 2),
    rgb(71, 1, 1),
    rgb(245, 5, 5)
  );
  z-index: -1;
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
}

.back-button > img {
  max-height: 80px;
  display: block;
}

@media (max-width: 700px) {
  .back-button > img {
    max-height: 40px;
  }
  .back-button {
    position: absolute;
    top: 30px;
    left: 30px;
  }
}

.back-button:hover::before,
.back-button:focus-visible::before {
  background: conic-gradient(
    from var(--angle),
    rgb(235, 113, 31),
    rgb(71, 1, 1),
    rgb(245, 5, 5)
  );
  animation-play-state: running;
}

.back-button:hover,
.back-button:focus-visible {
  transform: translate(-50%, -50%) scale(1.05);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: true;
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

.screen-content {
  position: relative; /* Required for absolute positioning */
  border: 2px dotted var(--matrix-green);
  height: 100%;
  padding: 10px;
  background: black;
  margin: 5px;
  z-index: 1;
}

.screen-content::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  background: conic-gradient(
    from var(--angle),
    rgb(0, 17, 7),
    rgb(0, 17, 7),
    rgba(0, 160, 65),
    rgb(0, 17, 7),
    rgb(0, 17, 7)
  );
  border-radius: inherit;
  z-index: -2;
  animation: rotate 6s linear infinite;
}
.screen-content::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  background: black;
  z-index: -1;
  border-radius: inherit;
}

/** ------------------------ ALIEN SIDEKICK ------------------------------**/

/** ------------------------ LIGHTSPEED QUADRANT ANIMATIONS ------------------------------**/
@keyframes fly-to-top-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(-10vw, -10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(-30vw, -30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(-60vw, -60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(-100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(-150vw, -150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-to-top-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(10vw, -10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(30vw, -30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(60vw, -60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(150vw, -150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-to-bottom-left {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(-10vw, 10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(-30vw, 30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(-60vw, 60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(-100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(-150vw, 150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-to-bottom-right {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 0.2;
  }
  20% {
    transform: translate(10vw, 10vh) scale(1);
    opacity: 0.2;
  }
  40% {
    transform: translate(30vw, 30vh) scale(1);
    opacity: 0.1;
  }
  60% {
    transform: translate(60vw, 60vh) scale(1);
    opacity: 0.1;
  }
  80% {
    transform: translate(100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  100% {
    transform: translate(150vw, 150vh) scale(0.3);
    opacity: 0;
  }
}

@keyframes fly-from-top-left {
  0% {
    transform: translate(-150vw, -150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(-100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(-60vw, -60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(-30vw, -30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(-10vw, -10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

@keyframes fly-from-top-right {
  0% {
    transform: translate(150vw, -150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(100vw, -100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(60vw, -60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(30vw, -30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(10vw, -10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

@keyframes fly-from-bottom-left {
  0% {
    transform: translate(-150vw, 150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(-100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(-60vw, 60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(-30vw, 30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(-10vw, 10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

@keyframes fly-from-bottom-right {
  0% {
    transform: translate(150vw, 150vh) scale(0.3);
    opacity: 0;
  }
  20% {
    transform: translate(100vw, 100vh) scale(1);
    opacity: 0.1;
  }
  40% {
    transform: translate(60vw, 60vh) scale(1);
    opacity: 0.3;
  }
  60% {
    transform: translate(30vw, 30vh) scale(1);
    opacity: 0.5;
  }
  80% {
    transform: translate(10vw, 10vh) scale(1);
    opacity: 0.55;
  }
  100% {
    transform: translate(0, 0) scale(1);
    opacity: 0.6;
  }
}

.lightspeed-fly-out-top-left {
  animation: fly-to-top-left 2s ease-in forwards;
}

.lightspeed-fly-out-top-right {
  animation: fly-to-top-right 2s ease-in forwards;
}

.lightspeed-fly-out-bottom-left {
  animation: fly-to-bottom-left 2s ease-in forwards;
}

.lightspeed-fly-out-bottom-right {
  animation: fly-to-bottom-right 2s ease-in forwards;
}

.lightspeed-fly-in-top-left {
  animation: fly-from-top-left 2s ease-out forwards;
}

.lightspeed-fly-in-top-right {
  animation: fly-from-top-right 2s ease-out forwards;
}

.lightspeed-fly-in-bottom-left {
  animation: fly-from-bottom-left 2s ease-out forwards;
}

.lightspeed-fly-in-bottom-right {
  animation: fly-from-bottom-right 2s ease-out forwards;
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.6rem;
  }
  button,
  a,
  p,
  blockquote {
    font-size: 1.2rem;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.4rem;
  }
  button,
  blockquote,
  a,
  p {
    font-size: 1rem;
  }
}
