<div id="display-bio" class="display-content">
  <h3>Pilot Bio</h3>
  <div class="bio-content screen-content">
    <div class="bio-portrait-section">
      <div class="body-scan-overlay">
        <img
          class="full-body-image"
          src="../assets/images/full-body-scan.webp" />
      </div>
    </div>
    <div class="bio-right-section">
      <div>
        <p>Name: Kevin McCarthy</p>
        <p>Last known location: Ireland, Earth</p>
        <p>
          Occupations: Space pirate, full-stack developer, educator, economist,
          adventurer
        </p>

        <div>
          <p>Contact:</p>
          <ul>
            <li>Email: pro.mccarthy@gmail.com</li>
            <li>LinkedIn</li>
            <li>Github</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
