<div id="display-bio" class="display-content">
  <h3>Pilot Bio</h3>
  <div class="bio-content screen-content">
    <div class="top-section">
      <div class="body-scan-overlay">
        <img
          class="full-body-image"
          alt="full-body-scan-image"
          src="../assets/images/full-body-scan.webp" />
      </div>
      <div class="space-between-grid-row">
        <p>Species:</p>
        <p>Human</p>
      </div>
      <div class="space-between-grid-row">
        <p>Gender:</p>
        <p>Male</p>
      </div>
      <div class="space-between-grid-row">
        <p>Name:</p>
        <p>Kevin McCarthy</p>
      </div>
      <div class="space-between-grid-row">
        <p>Last known location:</p>
        <p>Ireland, Earth</p>
      </div>
    </div>
    <div class="bottom-section">
      <div class="space-between-grid-row">
        <p>Occupations:</p>
        <ul>
          <li>Full Stack Developer</li>
          <li>Educator</li>
          <li>Economist</li>
          <li>Space Pirate</li>
          <li>Entrepreneur</li>
          <li>Ferengi Dentist</li>
        </ul>
      </div>
      <div class="space-between-grid-row">
        <p>Languages:</p>
        <div>
          <img
            class="flag-icon"
            alt="British Flag"
            src="../assets/icons/GB.svg" />
          <img
            class="flag-icon"
            alt="French Flag"
            src="../assets/icons/FR.svg" />
          <img
            class="flag-icon"
            alt="Chinese Flag"
            src="../assets/icons/CN.svg" />
          <img
            class="flag-icon"
            alt="Spanish Flag"
            src="../assets/icons/SP.svg" />
        </div>
      </div>
      <div>
        <p>
          <span>Tech:</span> Python, Typescript, React, HTML, CSS, SQL, Docker,
          Git, Figma, CI/CD, WordPress, PhP, AI Tools
        </p>
      </div>
      <div class="bio-last-row">
        <a href="#" target="_blank">
          <img class="" alt="github icon" src="../assets/icons/github-icon.svg"
        /></a>
        <a href="#" target="_blank">
          <img
            class=""
            alt="linkedin icon icon"
            src="../assets/icons/linkedin-icon.svg"
        /></a>

        <a href="#" target="_blank">
          <img class="" alt="CV icon" src="../assets/icons/cv-icon.svg"
        /></a>
      </div>
    </div>
  </div>
</div>
