<div id="display-projects" class="front-screen-projects display-content">
  <h3>Projects</h3>
  <div id="projects-content-container" class="projects-content screen-content">
    <ul id="projects-main-menu">
      <li
        id="li-cephadex"
        role="button"
        class="slide-underline"
        data-action="PROJECT_VIEW"
        data-id="cephadex">
        Cephadex - Ed-tech platform
      </li>
      <li
        id="li-swift-swatch"
        role="button"
        class="slide-underline"
        data-action="PROJECT_VIEW"
        data-id="swift-swatch">
        SwiftSwatch - UI designer
      </li>
      <li
        id="li-cognaite"
        class="slide-underline"
        data-action="PROJECT_VIEW"
        data-id="cognaite">
        Cognaite - Starter Template
      </li>
      <li
        id="li-chair-the-fed"
        role="button"
        class="slide-underline"
        data-action="PROJECT_VIEW"
        data-id="chair-the-fed">
        Chair the Fed - Monetary Policy Simulator
      </li>

      <li
        id="li-space-portfolio"
        role="button"
        class="slide-underline"
        data-action="PROJECT_VIEW"
        data-id="space-portfolio">
        this.SpacePortfolio
      </li>
      <li
        id="li-ai-story-tellers"
        role="button"
        class="slide-underline"
        data-action="PROJECT_VIEW"
        data-id="ai-story-tellers">
        Neverending AI Story
      </li>
    </ul>
    <div id="cephadex-content" class="cephadex-content content">
      <p>Status: Online</p>
      <p>
        Description: An educational platform allowing for the creation of
        flashcards, quizzes, games, & tests
      </p>
      <p>
        Tech: Python (FastAPI), TypeScript, React, Redux, VPS, Docker, Redis,
        Postgres
      </p>
      <div class="links-section">
        <a href="https://cephadex.com" target="_blank">Access here</a>
      </div>
    </div>
    <div id="swift-swatch-content" class="swift-swatch-content content">
      <p>Status: Online</p>
      <p>
        Description: A UI designer allowing for the quick development of mock
        ups
      </p>
      <p>
        Tech: Python (FastAPI), TypeScript, React, Redux, VPS, Docker, Redis,
        Postgres
      </p>
      <div class="links-section">
        <a href="https://swiftswatch.com" target="_blank">Access here</a>
      </div>
    </div>
    <div id="cognaite-content" class="cognaite-content content">
      <p>Status: Online</p>
      <p>Description: A starter template on which to build projects</p>
      <p>
        Tech: Python (FastAPI), TypeScript, React, Redux, VPS, Docker, Redis,
        Postgres
      </p>

      <div class="links-section">
        <a href="https://cognaite.com" target="_blank">Access here</a>
        <a href="https://github.com/Entername1983/Starter" target="_blank"
          >View code</a
        >
      </div>
    </div>
    <div id="chair-the-fed-content" class="chair-the-fed-content content">
      <p>Status: Online</p>
      <p>Description: A monetary policy simulation game</p>
      <p>Tech: Javascript, CSS, HTML</p>
      <div class="links-section">
        <a href="https://entername1983.github.io/Chair-the-Fed/" target="_blank"
          >Access here</a
        >
        <a href="https://github.com/Entername1983/Chair-the-Fed" target="_blank"
          >View code</a
        >
      </div>
    </div>
    <div id="ai-story-tellers-content" class="ai-story-tellers-content content">
      <p>Status: Offline</p>
      <p>
        Description: A never ending story in the form of the game of exquisite
        cadavre told by many different AIs
      </p>
      <p>
        Tech: Python (FastAPI), TypeScript, React, Redux, VPS, Docker, Redis,
        Postgres
      </p>
      <div class="links-section">
        <a href="https://github.com/Entername1983/aiechoes" target="_blank"
          >View code</a
        >
      </div>
    </div>
    <div id="space-portfolio-content" class="space-portfolio-content content">
      <p>Status: Online</p>
      <p>
        Description: This doubles as my portfolio as well as my attempt to go
        back to basics and build something from scratch. It's been a great
        excercise as it has strengthened my knowledge of webdev since I was
        previously mostly using React, which abastracted away a lot. It also
        gave me a much greater appreciation of Typescript!
      </p>
      <p>Tech: Javascript, HTML, CSS</p>
      <div class="links-section">
        <a href="#" target="_blank">Not available yet</a>
      </div>
    </div>
  </div>
  <button
    id="projects-back-button"
    data-action="MAIN_PROJECT_MENU"
    data-id="ai-story-tellers"
    class="button glow-effect small">
    Back
    <!-- <svg
      id="arrow-left-solid"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24">
      <polygon
        points="1 13 1 11 2 11 2 10 3 10 3 9 4 9 4 8 5 8 5 7 6 7 6 6 7 6 7 5 8 5 8 4 9 4 9 3 10 3 10 2 11 2 11 1 12 1 12 2 13 2 13 3 14 3 14 4 13 4 13 5 12 5 12 6 11 6 11 7 10 7 10 8 9 8 9 9 8 9 8 10 23 10 23 14 8 14 8 15 9 15 9 16 10 16 10 17 11 17 11 18 12 18 12 19 13 19 13 20 14 20 14 21 13 21 13 22 12 22 12 23 11 23 11 22 10 22 10 21 9 21 9 20 8 20 8 19 7 19 7 18 6 18 6 17 5 17 5 16 4 16 4 15 3 15 3 14 2 14 2 13 1 13" />
    </svg> -->
  </button>
</div>
